modules/common/src/test/resources/com/l7tech/common/resources/AuthenticateServiceV001.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--generated by Glue Professional 5.0.2 build 77 on Thu Apr 28 13:36:08 EDT 2005-->
<wsdl:definitions name='AuthenticateRequestV001' targetNamespace='http://www.bankofamerica.com/xmlschema/resource/metadata/oos/api/v002' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:n4='http://www.bankofamerica.com/xmlschema/resource/metadata/osa/infrastructure/v001' xmlns:n5='http://www.bankofamerica.com/xmlschema/resource/metadata/oos/complex/v002' xmlns:n6='http://www.bankofamerica.com/xmlschema/resource/metadata/osa/common/v001'  xmlns:n8='http://www.bankofamerica.com/xmlschema/resource/metadata/oos/faults/v001' xmlns:api='http://www.bankofamerica.com/xmlschema/resource/metadata/oos/api/v002' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' >
  <wsdl:types>
    <xsd:schema elementFormDefault='qualified' targetNamespace='http://www.bankofamerica.com/xmlschema/resource/metadata/oos/api/v002'>
      <xsd:import namespace='http://www.bankofamerica.com/xmlschema/resource/metadata/osa/common/v001'/>
      <xsd:import namespace='http://www.bankofamerica.com/xmlschema/resource/metadata/oos/complex/v002'/>
      <xsd:import namespace='http://www.bankofamerica.com/xmlschema/resource/metadata/osa/infrastructure/v001'/>
         <xsd:element name="AuthenticateRequest" type="api:AuthenticateRequestV001"/>
         <xsd:element name="AuthenticateResponse" type="api:AuthenticateResponseV001"/>
         <xsd:element name="FaultException" type="n8:FaultException"/>
         <xsd:complexType name='AuthenticateResponseV001'>
        <xsd:sequence>
          <xsd:element name='osaResponseHeader' type='n4:OSAResponseHeader'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='AuthenticateRequestV001'>
        <xsd:sequence>
          <xsd:element name='osaRequestHeader' type='n4:OSARequestHeader'/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema elementFormDefault='qualified' targetNamespace='http://www.bankofamerica.com/xmlschema/resource/metadata/osa/infrastructure/v001'>
      <xsd:complexType name='OSAResponseHeader'>
        <xsd:sequence>
          <xsd:element name='component' type='xsd:string'/>
          <xsd:element name='service' type='n4:Service'/>
          <xsd:element name='traceId' type='xsd:string'/>
          <xsd:element name='serverInstance' type='xsd:string'/>
          <xsd:element name='timestamp' type='xsd:dateTime'/>
          <xsd:element name='listOfWarnings' minOccurs='0' type='n4:ListOfWarnings'/>
          <xsd:element name='informationBag' minOccurs='0' type='n4:Bag'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='Service'>
        <xsd:sequence>
          <xsd:element name='name' type='xsd:string'/>
          <xsd:element name='operation' type='xsd:string'/>
          <xsd:element name='version' type='xsd:string'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='OSAWarning'>
        <xsd:sequence>
          <xsd:element name='name' type='xsd:string'/>
          <xsd:element name='detail' type='n4:Detail'/>
          <xsd:element name='service' minOccurs='0' type='n4:Service'/>
          <xsd:element name='serverInstance' minOccurs='0' type='xsd:string'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='Detail'>
        <xsd:sequence>
          <xsd:element name='code' type='xsd:string'/>
          <xsd:element name='application' type='xsd:string'/>
          <xsd:element name='category' type='xsd:string'/>
          <xsd:element name='message' type='xsd:string'/>
          <xsd:element name='attributes' minOccurs='0' type='n4:Attributes'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='Attribute'>
        <xsd:sequence>
          <xsd:element name='name' type='xsd:string'/>
          <xsd:element name='value' type='xsd:string'/>
          <xsd:element name='type' type='xsd:string'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='Attributes'>
        <xsd:sequence>
          <xsd:element name='attribute' minOccurs='0' maxOccurs='unbounded' type='n4:Attribute'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='ListOfWarnings'>
        <xsd:sequence>
          <xsd:element name='osaWarning' maxOccurs='unbounded' type='n4:OSAWarning'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='Bag'>
        <xsd:sequence>
          <xsd:element name='sets' minOccurs='0' type='n4:Sets'/>
          <xsd:element name='attributes' minOccurs='0' type='n4:Attributes'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='Set'>
        <xsd:sequence>
          <xsd:element name='name' type='xsd:string'/>
          <xsd:element name='sets' minOccurs='0' type='n4:Sets'/>
          <xsd:element name='attributes' type='n4:Attributes'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='Sets'>
        <xsd:sequence>
          <xsd:element name='set' minOccurs='0' maxOccurs='unbounded' type='n4:Set'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='Entitlements'>
        <xsd:sequence>
          <xsd:element name='entitlement' minOccurs='0' maxOccurs='unbounded' type='xsd:string'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='OSARequestHeader'>
        <xsd:sequence>
          <xsd:element name='providerService' type='n4:Service'/>
          <xsd:element name='component' type='xsd:string'/>
          <xsd:element name='channel' type='xsd:string'/>
          <xsd:element name='requestorService' type='n4:Service'/>
          <xsd:element name='serverInstance' minOccurs='0' type='xsd:string'/>
          <xsd:element name='traceId' type='xsd:string'/>
          <xsd:element name='applicationId' type='xsd:string'/>
          <xsd:element name='userId' minOccurs='0' type='xsd:string'/>
          <xsd:element name='userIdType' minOccurs='0' type='xsd:string'/>
          <xsd:element name='role' minOccurs='0' type='xsd:string'/>
          <xsd:element name='entitlements' minOccurs='0' type='n4:Entitlements'/>
          <xsd:element name='timestamp' minOccurs='0' type='xsd:dateTime'/>
          <xsd:element name='isReplyExpected' minOccurs='0' type='xsd:boolean'/>
          <xsd:element name='intermediaryService' minOccurs='0' type='n4:Service'/>
          <xsd:element name='rulesBag' minOccurs='0' type='n4:Bag'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='OSAException'>
        <xsd:sequence>
          <xsd:element name='name' type='xsd:string'/>
          <xsd:element name='detail' type='n4:Detail'/>
          <xsd:element name='service' type='n4:Service'/>
          <xsd:element name='serverInstance' minOccurs='0' type='xsd:string'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='ListOfExceptions'>
        <xsd:sequence>
          <xsd:element name='osaException' maxOccurs='unbounded' type='n4:OSAException'/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name='OSAFaultDetail'>
        <xsd:sequence>
          <xsd:element name='traceId' type='xsd:string'/>
          <xsd:element name='component' type='xsd:string'/>
          <xsd:element name='service' type='n4:Service'/>
          <xsd:element name='serverInstance' type='xsd:string'/>
          <xsd:element name='timestamp' type='xsd:dateTime'/>
          <xsd:element name='listOfExceptions' type='n4:ListOfExceptions'/>
          <xsd:element name='request' minOccurs='0' type='xsd:string'/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    
   <xsd:schema elementFormDefault='qualified' targetNamespace='http://www.bankofamerica.com/xmlschema/resource/metadata/oos/faults/v001'>
      <xsd:import namespace='http://www.bankofamerica.com/xmlschema/resource/metadata/osa/infrastructure/v001'/>
      <xsd:complexType name='FaultException'>
        <xsd:sequence>
          <xsd:element name='faultcode' type='xsd:string'/>
          <xsd:element name='faultstring' type='xsd:string'/>
          <xsd:element name='faultactor' type='xsd:string'/>
          <xsd:element name='osaFaultDetail' type='n4:OSAFaultDetail'/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name='AuthenticateRequestV0010In'>
    <wsdl:part name='parameters' element='api:AuthenticateRequest'/>
  </wsdl:message>
  <wsdl:message name='FaultException'>
    <wsdl:part name='FaultException' element='api:FaultException'/>
  </wsdl:message>
  <wsdl:message name='AuthenticateResponseV0010Out'>
    <wsdl:part name='parameters' element='api:AuthenticateResponse'/>
  </wsdl:message>
  <wsdl:portType name='AuthenticateV001'>
    <wsdl:operation name='AuthenticateV001'>
      <wsdl:input name='AuthenticateRequestV0010In' message='api:AuthenticateRequestV0010In'/>
      <wsdl:output name='AuthenticateResponseV0010Out' message='api:AuthenticateResponseV0010Out'/>
      <wsdl:fault name='FaultException' message='api:FaultException'/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name='AuthenticateRequestV001' type='api:AuthenticateRequestV001'>
    <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
    <wsdl:operation name='AuthenticateV001'>
      <soap:operation soapAction='AuthenticateRequestV001' style='document'/>
      <wsdl:input name='AuthenticateRequestV0010In'>
        <soap:body use='literal'/>
      </wsdl:input>
      <wsdl:output name='AuthenticateResponseV0010Out'>
        <soap:body use='literal'/>
      </wsdl:output>
      <wsdl:fault name='FaultException'>
        <soap:fault  use='literal'/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name='AuthenticationServiceV001'>
    <wsdl:port name='AuthenticateRequestV001' binding='api:AuthenticateRequestV001'>
      <soap:address location='http://cidcltwm01.bankofamerica.com:7401/soap/default'/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>