modules/uddi/src/test/resources/com/l7tech/uddi/SpaceOrderofBattle_Child.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SOB.IPD.LMCO/ExternalWSDL" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SOB.IPD.LMCO/ExternalWSDL">
	<wsdl:types>
		<s:schema targetNamespace="http://SOB.IPD.LMCO/ExternalWSDL">
			<s:include schemaLocation="schema1.xsd"/>
			<s:import schemaLocation="schema2.xsd" namespace="http://SADB.DataAccess.InfoServices.SISP.IPD/xsd"/>
			<s:import schemaLocation="schema3.xsd" namespace="http://DataAccess.InfoServices.SISP.IPD/xsd"/>
			<s:import schemaLocation="schema4.xsd" namespace="http://Database.DataAccess.InfoServices.SISP.IPD/xsd"/>
			<s:import schemaLocation="schema5.xsd" namespace="http://MCRS.DataAccess.InfoServices.SISP.IPD/xsd"/>
			<s:import schemaLocation="schema6.xsd" namespace="http://sql.java/xsd"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetTLESoapIn">
		<wsdl:part name="parameters" element="tns:GetTLE"/>
	</wsdl:message>
	<wsdl:message name="GetTLESoapOut">
		<wsdl:part name="parameters" element="tns:GetTLEResponse"/>
	</wsdl:message>
	<wsdl:message name="GetDecomposedTLESoapIn">
		<wsdl:part name="parameters" element="tns:GetDecomposedTLE"/>
	</wsdl:message>
	<wsdl:message name="GetDecomposedTLESoapOut">
		<wsdl:part name="parameters" element="tns:GetDecomposedTLEResponse"/>
	</wsdl:message>
	<wsdl:message name="GetLaunchScheduleSoapIn">
		<wsdl:part name="parameters" element="tns:GetLaunchSchedule"/>
	</wsdl:message>
	<wsdl:message name="GetLaunchScheduleSoapOut">
		<wsdl:part name="parameters" element="tns:GetLaunchScheduleResponse"/>
	</wsdl:message>
	<wsdl:message name="GetOnOrbitSoapIn">
		<wsdl:part name="parameters" element="tns:GetOnOrbit"/>
	</wsdl:message>
	<wsdl:message name="GetOnOrbitSoapOut">
		<wsdl:part name="parameters" element="tns:GetOnOrbitResponse"/>
	</wsdl:message>
	<wsdl:message name="GetTerrestrialSoapIn">
		<wsdl:part name="parameters" element="tns:GetTerrestrial"/>
	</wsdl:message>
	<wsdl:message name="GetTerrestrialSoapOut">
		<wsdl:part name="parameters" element="tns:GetTerrestrialResponse"/>
	</wsdl:message>
	<wsdl:message name="GetTerrestrialDetailsSoapIn">
		<wsdl:part name="parameters" element="tns:GetTerrestrialDetails"/>
	</wsdl:message>
	<wsdl:message name="GetTerrestrialDetailsSoapOut">
		<wsdl:part name="parameters" element="tns:GetTerrestrialDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetOnOrbitDetailsSoapIn">
		<wsdl:part name="parameters" element="tns:GetOnOrbitDetails"/>
	</wsdl:message>
	<wsdl:message name="GetOnOrbitDetailsSoapOut">
		<wsdl:part name="parameters" element="tns:GetOnOrbitDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="getSYSCAPDataSoapIn">
		<wsdl:part name="parameters" element="tns:getSYSCAPData"/>
	</wsdl:message>
	<wsdl:message name="getSYSCAPDataSoapOut">
		<wsdl:part name="parameters" element="tns:getSYSCAPDataResponse"/>
	</wsdl:message>
	<wsdl:portType name="JMSSOB">
		<wsdl:operation name="GetTLE">
			<wsdl:input message="tns:GetTLESoapIn"/>
			<wsdl:output message="tns:GetTLESoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetDecomposedTLE">
			<wsdl:input message="tns:GetDecomposedTLESoapIn"/>
			<wsdl:output message="tns:GetDecomposedTLESoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetLaunchSchedule">
			<wsdl:input message="tns:GetLaunchScheduleSoapIn"/>
			<wsdl:output message="tns:GetLaunchScheduleSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetOnOrbit">
			<wsdl:input message="tns:GetOnOrbitSoapIn"/>
			<wsdl:output message="tns:GetOnOrbitSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetTerrestrial">
			<wsdl:input message="tns:GetTerrestrialSoapIn"/>
			<wsdl:output message="tns:GetTerrestrialSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetTerrestrialDetails">
			<wsdl:input message="tns:GetTerrestrialDetailsSoapIn"/>
			<wsdl:output message="tns:GetTerrestrialDetailsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetOnOrbitDetails">
			<wsdl:input message="tns:GetOnOrbitDetailsSoapIn"/>
			<wsdl:output message="tns:GetOnOrbitDetailsSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="getSYSCAPData">
			<wsdl:input message="tns:getSYSCAPDataSoapIn"/>
			<wsdl:output message="tns:getSYSCAPDataSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="JMSSOB" type="tns:JMSSOB">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetTLE">
			<soap:operation soapAction="http://SOB.IPD.LMCO/GetTLE" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDecomposedTLE">
			<soap:operation soapAction="http://SOB.IPD.LMCO/GetDecomposedTLE" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLaunchSchedule">
			<soap:operation soapAction="http://SOB.IPD.LMCO/GetLaunchSchedule" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOnOrbit">
			<soap:operation soapAction="http://SOB.IPD.LMCO/GetOnOrbit" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTerrestrial">
			<soap:operation soapAction="http://SOB.IPD.LMCO/GetTerrestrial" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTerrestrialDetails">
			<soap:operation soapAction="http://SOB.IPD.LMCO/GetTerrestrialDetails" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOnOrbitDetails">
			<soap:operation soapAction="http://SOB.IPD.LMCO/GetOnOrbitDetails" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSYSCAPData">
			<soap:operation soapAction="http://SOB.IPD.LMCO/getSYSCAPData" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="JMSSOB1" type="tns:JMSSOB">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetTLE">
			<soap12:operation soapAction="http://SOB.IPD.LMCO/GetTLE" soapActionRequired="" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDecomposedTLE">
			<soap12:operation soapAction="http://SOB.IPD.LMCO/GetDecomposedTLE" soapActionRequired="" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetLaunchSchedule">
			<soap12:operation soapAction="http://SOB.IPD.LMCO/GetLaunchSchedule" soapActionRequired="" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOnOrbit">
			<soap12:operation soapAction="http://SOB.IPD.LMCO/GetOnOrbit" soapActionRequired="" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTerrestrial">
			<soap12:operation soapAction="http://SOB.IPD.LMCO/GetTerrestrial" soapActionRequired="" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTerrestrialDetails">
			<soap12:operation soapAction="http://SOB.IPD.LMCO/GetTerrestrialDetails" soapActionRequired="" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetOnOrbitDetails">
			<soap12:operation soapAction="http://SOB.IPD.LMCO/GetOnOrbitDetails" soapActionRequired="" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSYSCAPData">
			<soap12:operation soapAction="http://SOB.IPD.LMCO/getSYSCAPData" soapActionRequired="" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
    <wsdl:portType name="ChildPortType">
        <wsdl:operation name="AnOperation">
            <wsdl:input message="tns:GetTLESoapIn"/>
            <wsdl:output message="tns:GetTLESoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SameBindingName" type="tns:ChildPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AnOperation">
            <soap:operation soapAction="http://SOB.IPD.LMCO/GetTLE" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
