tests/com/l7tech/service/resources/relatedschemas/account.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.acme.com/schemas/account" xmlns:s="http://www.w3.org/2001/XMLSchema">
  <s:element name="Account">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:string" />
        <s:element minOccurs="1" maxOccurs="1" name="Rep" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
</s:schema>
