src/com/l7tech/server/hpsoam/resources/WseeMO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Runtime$service=Wsee" targetNamespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" xmlns:Events="http://schemas.hp.com/wsmf/2003/03/Events#" xmlns:Foundation="http://schemas.hp.com/wsmf/2003/03/Foundation" xmlns:WsExecutionEnvironment="http://schemas.hp.com/wsmf/2003/03/WsExecutionEnvironment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://openview.hp.com/xmlns/mip/2005/03/Wsee" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:import location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/static/WS-Events.wsdl" namespace="http://schemas.hp.com/wsmf/2003/03/Events#" />
    <wsdl:import location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/static/WSMF-Foundation.wsdl" namespace="http://schemas.hp.com/wsmf/2003/03/Foundation" />
    <wsdl:import location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/static/WsExecutionEnvironment.wsdl" namespace="http://schemas.hp.com/wsmf/2003/03/WsExecutionEnvironment" />
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" xmlns:PerformanceWindow.xsd="http://openview.hp.com/xmlns/soa/1/PerformanceWindow.xsd" xmlns:mip-manageability.xsd="http://openview.hp.com/xmlns/mip/2005/03/mip-manageability.xsd" xmlns:tns="http://openview.hp.com/xmlns/mip/2005/03/Wsee" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://openview.hp.com/xmlns/soa/1/PerformanceWindow.xsd" schemaLocation="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/static/PerformanceWindow.xsd" />
            <xsd:import namespace="http://openview.hp.com/xmlns/mip/2005/03/mip-manageability.xsd" schemaLocation="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/static/mip-manageability.xsd" />
            <xsd:element name="DeployService">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param0" type="xsd:string" />
                        <xsd:element name="param1" type="xsd:anyURI" />
                        <xsd:element name="param2" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DeployServiceResponse">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="Get">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param0" type="xsd:long" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetDeploymentStatus">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param0" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetDeploymentStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="mip-manageability.xsd:DeploymentStatus" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="PerformanceWindow.xsd:PerformanceWindowList" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UndeployService">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param0" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UndeployServiceResponse">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="getLogLevel">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="getLogLevelForCategory">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param0" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getLogLevelForCategoryResponse" type="xsd:string" />
            <xsd:element name="getLogLevelResponse" type="xsd:string" />
            <xsd:element name="getTrailingLogMessages">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param0" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getTrailingLogMessagesResponse" type="xsd:string" />
            <xsd:element name="setLogLevel">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="LogLevel" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setLogLevelForCategory">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param0" type="xsd:string" />
                        <xsd:element name="param1" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setLogLevelForCategoryResponse">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="setLogLevelResponse">
                <xsd:complexType />
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="setLogLevelForCategoryResponse">
        <wsdl:part element="tns:setLogLevelForCategoryResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="UndeployServiceRequest">
        <wsdl:part element="tns:UndeployService" name="document" />
    </wsdl:message>
    <wsdl:message name="setLogLevelForCategoryRequest">
        <wsdl:part element="tns:setLogLevelForCategory" name="document" />
    </wsdl:message>
    <wsdl:message name="getLogLevelForCategoryResponse">
        <wsdl:part element="tns:getLogLevelForCategoryResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="setLogLevelResponse">
        <wsdl:part element="tns:setLogLevelResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="UndeployServiceResponse">
        <wsdl:part element="tns:UndeployServiceResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="getLogLevelResponse">
        <wsdl:part element="tns:getLogLevelResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="getTrailingLogMessagesRequest">
        <wsdl:part element="tns:getTrailingLogMessages" name="document" />
    </wsdl:message>
    <wsdl:message name="GetDeploymentStatusResponse">
        <wsdl:part element="tns:GetDeploymentStatusResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="DeployServiceResponse">
        <wsdl:part element="tns:DeployServiceResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="DeployServiceRequest">
        <wsdl:part element="tns:DeployService" name="document" />
    </wsdl:message>
    <wsdl:message name="getLogLevelForCategoryRequest">
        <wsdl:part element="tns:getLogLevelForCategory" name="document" />
    </wsdl:message>
    <wsdl:message name="getLogLevelRequest">
        <wsdl:part element="tns:getLogLevel" name="document" />
    </wsdl:message>
    <wsdl:message name="GetResponse">
        <wsdl:part element="tns:GetResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="getTrailingLogMessagesResponse">
        <wsdl:part element="tns:getTrailingLogMessagesResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="setLogLevelRequest">
        <wsdl:part element="tns:setLogLevel" name="document" />
    </wsdl:message>
    <wsdl:message name="GetRequest">
        <wsdl:part element="tns:Get" name="document" />
    </wsdl:message>
    <wsdl:message name="GetDeploymentStatusRequest">
        <wsdl:part element="tns:GetDeploymentStatus" name="document" />
    </wsdl:message>
    <wsdl:portType Foundation:baseManagementInterface="#base" name="DeployPT">
        <wsdl:operation name="DeployService">
            <wsdl:input message="tns:DeployServiceRequest" />
            <wsdl:output message="tns:DeployServiceResponse" />
        </wsdl:operation>
        <wsdl:operation name="GetDeploymentStatus">
            <wsdl:input message="tns:GetDeploymentStatusRequest" />
            <wsdl:output message="tns:GetDeploymentStatusResponse" />
        </wsdl:operation>
        <wsdl:operation name="UndeployService">
            <wsdl:input message="tns:UndeployServiceRequest" />
            <wsdl:output message="tns:UndeployServiceResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType Foundation:baseManagementInterface="#base" name="Performance">
        <wsdl:operation name="Get">
            <wsdl:input message="tns:GetRequest" />
            <wsdl:output message="tns:GetResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType Foundation:baseManagementInterface="#base" name="WseeLoggingPT">
        <wsdl:operation name="getTrailingLogMessages">
            <wsdl:input message="tns:getTrailingLogMessagesRequest" />
            <wsdl:output message="tns:getTrailingLogMessagesResponse" />
        </wsdl:operation>
        <wsdl:operation name="getLogLevelForCategory">
            <wsdl:input message="tns:getLogLevelForCategoryRequest" />
            <wsdl:output message="tns:getLogLevelForCategoryResponse" />
        </wsdl:operation>
        <wsdl:operation Foundation:attributeType="xsd:string" name="setLogLevel">
            <wsdl:input message="tns:setLogLevelRequest" />
            <wsdl:output message="tns:setLogLevelResponse" />
        </wsdl:operation>
        <wsdl:operation name="setLogLevelForCategory">
            <wsdl:input message="tns:setLogLevelForCategoryRequest" />
            <wsdl:output message="tns:setLogLevelForCategoryResponse" />
        </wsdl:operation>
        <wsdl:operation Foundation:attributeType="xsd:string" name="getLogLevel">
            <wsdl:input message="tns:getLogLevelRequest" />
            <wsdl:output message="tns:getLogLevelResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WseeLoggingSoapHttpBinding" type="tns:WseeLoggingPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getTrailingLogMessages">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLogLevelForCategory">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setLogLevel">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setLogLevelForCategory">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLogLevel">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DeploySoapHttpBinding" type="tns:DeployPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="DeployService">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDeploymentStatus">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UndeployService">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PerformanceSoapHttpBinding" type="tns:Performance">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Get">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Wsee" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Runtime$service=Wsee">
        <wsdl:port binding="WsExecutionEnvironment:WseeMonitoringSoapHttpBinding" name="WsExecutionEnvironmentWseeMonitoringPort">
            <soap:address location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/runtime/wsee" />
        </wsdl:port>
        <wsdl:port binding="Foundation:ManagedObjectDiscoverySoapHttpBinding" name="FoundationManagedObjectDiscoveryPort">
            <soap:address location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/runtime/wsee" />
        </wsdl:port>
        <wsdl:port binding="WsExecutionEnvironment:WseeControlSoapHttpBinding" name="WsExecutionEnvironmentWseeControlPort">
            <soap:address location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/runtime/wsee" />
        </wsdl:port>
        <wsdl:port binding="tns:PerformanceSoapHttpBinding" name="WseePerformancePort">
            <soap:address location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/runtime/wsee" />
        </wsdl:port>
        <wsdl:port binding="Foundation:ManagedObjectMonitoringSoapHttpBinding" name="FoundationManagedObjectMonitoringPort">
            <soap:address location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/runtime/wsee" />
        </wsdl:port>
        <wsdl:port binding="Foundation:ManagedObjectControlSoapHttpBinding" name="FoundationManagedObjectControlPort">
            <soap:address location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/runtime/wsee" />
        </wsdl:port>
        <wsdl:port binding="Foundation:ManagedObjectIdentitySoapHttpBinding" name="FoundationManagedObjectIdentityPort">
            <soap:address location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/runtime/wsee" />
        </wsdl:port>
        <wsdl:port binding="Events:EventPushSoapHttpBinding" name="EventsEventPushPort">
            <soap:address location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/runtime/wsee" />
        </wsdl:port>
        <wsdl:port binding="tns:DeploySoapHttpBinding" name="WseeDeployPort">
            <soap:address location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/runtime/wsee" />
        </wsdl:port>
        <wsdl:port binding="tns:WseeLoggingSoapHttpBinding" name="WseeWseeLoggingPort">
            <soap:address location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/runtime/wsee" />
        </wsdl:port>
        <wsdl:port binding="WsExecutionEnvironment:WseeConfigurationSoapHttpBinding" name="WsExecutionEnvironmentWseeConfigurationPort">
            <soap:address location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/runtime/wsee" />
        </wsdl:port>
        <wsdl:port binding="Foundation:ManagedObjectConfigurationSoapHttpBinding" name="FoundationManagedObjectConfigurationPort">
            <soap:address location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/runtime/wsee" />
        </wsdl:port>
        <wsdl:port binding="Events:EventPullSoapHttpBinding" name="EventsEventPullPort">
            <soap:address location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/runtime/wsee" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>