src/com/l7tech/server/hpsoam/resources/WsExecutionEnvironment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions targetNamespace="http://schemas.hp.com/wsmf/2003/03/WsExecutionEnvironment" xmlns:tns="http://schemas.hp.com/wsmf/2003/03/WsExecutionEnvironment" xmlns:wsmf="http://schemas.hp.com/wsmf/2003/03/Foundation" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <documentation>
This document defines the WSMF WsExecutionEnvironment interface. The WsExecutionEnvironment interface inherits
from the ManagedObject interface.

The WsExecutionEnvironment interface supports the following event types with the respective URIs:
  http://schemas.hp.com/wsmf/2003/03/WsExecutionEnvironment/Event/Starting
  http://schemas.hp.com/wsmf/2003/03/WsExecutionEnvironment/Event/Stopping
  http://schemas.hp.com/wsmf/2003/03/WsExecutionEnvironment/Event/Stopped

The WsExecutionEnvironment interface supports the following values for the Status attribute:
  http://schemas.hp.com/wsmf/2003/03/WsExecutionEnvironment/Status/Starting
  http://schemas.hp.com/wsmf/2003/03/WsExecutionEnvironment/Status/Stopping
    </documentation>
    <types>
        <s:schema targetNamespace="http://schemas.hp.com/wsmf/2003/03/WsExecutionEnvironment" elementFormDefault="qualified">
            <s:import namespace="http://schemas.hp.com/wsmf/2003/03/Foundation" schemaLocation="WSMF-Foundation.xsd" />
            <s:element name="GetConfigurationUrl">
                <s:complexType />
            </s:element>
            <s:element name="GetConfigurationUrlResponse" type="s:anyURI" />
            <s:element name="GetServices">
                <s:complexType />
            </s:element>
            <s:element name="GetServicesResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="wsmf:RelationshipObjectList" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Start">
                <s:complexType />
            </s:element>
            <s:element name="StartResponse">
                <s:complexType />
            </s:element>
            <s:element name="Stop">
                <s:complexType />
            </s:element>
            <s:element name="StopResponse">
                <s:complexType />
            </s:element>
        </s:schema>
    </types>
    <message name="GetConfigurationUrlRequest">
        <part name="document" element="tns:GetConfigurationUrl" />
    </message>
    <message name="GetConfigurationUrlResponse">
        <part name="document" element="tns:GetConfigurationUrlResponse" />
    </message>
    <message name="GetServicesRequest">
        <part name="document" element="tns:GetServices" />
    </message>
    <message name="GetServicesResponse">
        <part name="document" element="tns:GetServicesResponse" />
    </message>
    <message name="StartRequest">
        <part name="document" element="tns:Start" />
    </message>
    <message name="StartResponse">
        <part name="document" element="tns:StartResponse" />
    </message>
    <message name="StopRequest">
        <part name="document" element="tns:Stop" />
    </message>
    <message name="StopResponse">
        <part name="document" element="tns:StopResponse" />
    </message>
    <portType name="WseeConfigurationPT" wsmf:baseManagementInterface="wsmf:ManagedObjectConfigurationPT">
        <operation name="GetConfigurationUrl" wsmf:attributeType="s:anyURI">
            <input message="tns:GetConfigurationUrlRequest" />
            <output message="tns:GetConfigurationUrlResponse" />
        </operation>
    </portType>
    <portType name="WseeMonitoringPT" wsmf:baseManagementInterface="wsmf:ManagedObjectMonitoringPT">
        <operation name="GetServices" wsmf:relation="http://schemas.hp.com/wsmf/2003/03/relations/contains" wsmf:attributeType="wsmf:RelationshipObjectListDefinition">
            <input message="tns:GetServicesRequest" />
            <output message="tns:GetServicesResponse" />
        </operation>
    </portType>
    <portType name="WseeControlPT" wsmf:baseManagementInterface="wsmf:ManagedObjectControlPT">
        <operation name="Start">
            <input message="tns:StartRequest" />
            <output message="tns:StartResponse" />
        </operation>
        <operation name="Stop">
            <input message="tns:StopRequest" />
            <output message="tns:StopResponse" />
        </operation>
    </portType>
    <binding name="WseeConfigurationSoapHttpBinding" type="tns:WseeConfigurationPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="GetConfigurationUrl">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <binding name="WseeMonitoringSoapHttpBinding" type="tns:WseeMonitoringPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="GetServices">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <binding name="WseeControlSoapHttpBinding" type="tns:WseeControlPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="Start">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="Stop">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
</definitions>