src/com/l7tech/server/hpsoam/resources/WSMF-Foundation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions targetNamespace="http://schemas.hp.com/wsmf/2003/03/Foundation" xmlns:tns="http://schemas.hp.com/wsmf/2003/03/Foundation" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <documentation>
This document defines the WSMF ManagedObject interface. This is the base interface for all
managed objects.

The ManagedObject interface supports the following event types with the respective URIs:
  http://schemas.hp.com/wsmf/2003/03/Foundation/Event/RelationshipsChanged

The ManagedObject interface supports the following values for the Status attribute:
  http://schemas.hp.com/wsmf/2003/03/Foundation/Status/Operational
  http://schemas.hp.com/wsmf/2003/03/Foundation/Status/Failed
  http://schemas.hp.com/wsmf/2003/03/Foundation/Status/Inactive
  http://schemas.hp.com/wsmf/2003/03/Foundation/Status/Unknown

The ManagedObject interface defines the following relations with the respective URIs:
  http://schemas.hp.com/wsmf/2003/03/Foundation/Relation/ManagerOfCollection
    </documentation>
    <types>
        <s:schema targetNamespace="http://schemas.hp.com/wsmf/2003/03/Foundation" elementFormDefault="qualified">
            <s:include schemaLocation="WSMF-Foundation.xsd" />
            <s:element name="GetManagementWsdlUrl">
                <s:complexType />
            </s:element>
            <s:element name="GetManagementWsdlUrlResponse" type="tns:ManagedObject" />
            <s:element name="GetName">
                <s:complexType />
            </s:element>
            <s:element name="GetNameResponse" type="s:string" />
            <s:element name="GetType">
                <s:complexType />
            </s:element>
            <s:element name="GetTypeResponse" type="s:anyURI" />
            <s:element name="GetDescription">
                <s:complexType />
            </s:element>
            <s:element name="GetDescriptionResponse" type="s:string" />
            <s:element name="GetOwner">
                <s:complexType />
            </s:element>
            <s:element name="GetOwnerResponse" type="s:string" />
            <s:element name="GetVendor">
                <s:complexType />
            </s:element>
            <s:element name="GetVendorResponse" type="s:string" />
            <s:element name="GetResourceVersion">
                <s:complexType />
            </s:element>
            <s:element name="GetResourceVersionResponse" type="s:string" />
            <s:element name="GetManagedObjectVersion">
                <s:complexType />
            </s:element>
            <s:element name="GetManagedObjectVersionResponse" type="s:string" />
            <s:element name="GetCreatedOn">
                <s:complexType />
            </s:element>
            <s:element name="GetCreatedOnResponse" type="s:dateTime" />
            <s:element name="GetResourceHostName">
                <s:complexType />
            </s:element>
            <s:element name="GetResourceHostNameResponse" type="s:string" />
            <s:element name="GetManagedObjectHostName">
                <s:complexType />
            </s:element>
            <s:element name="GetManagedObjectHostNameResponse" type="s:string" />
            <s:element name="GetStatus">
                <s:complexType />
            </s:element>
            <s:element name="GetStatusResponse" type="s:anyURI" />
            <s:element name="GetRelationships">
                <s:complexType />
            </s:element>
            <s:element name="GetRelationshipsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="tns:RelationshipList" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSpecificRelationships">
                <s:complexType>
                    <s:sequence>
                        <s:element name="Relation" type="s:anyURI" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSpecificRelationshipsResponse">
                <s:complexType>
                    <s:sequence>
                        <!-- TODO: If we use the proposed definition of Relationship, this ref will change to RelationshipList -->
                        <s:element ref="tns:RelationshipObjectList" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetSupportedRelations">
                <s:complexType />
            </s:element>
            <s:element name="GetSupportedRelationsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="tns:RelationList" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SetName">
                <s:complexType>
                    <s:sequence>
                        <s:element name="Name" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SetNameResponse">
                <s:complexType />
            </s:element>
            <s:element name="SetStatus">
                <s:complexType>
                    <s:sequence>
                        <s:element name="Status" type="s:anyURI" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SetStatusResponse">
                <s:complexType />
            </s:element>
            <s:complexType name="SelectExpression">
                <s:simpleContent>
                    <s:extension base="s:string" />
                </s:simpleContent>
                <!-- TODO: Do we need an attribute specifying XPath or XQuery, or is XPath OK? -->
            </s:complexType>
            <s:complexType name="ManagedObjectInformation">
                <s:sequence>
                    <!-- TODO: Can this be more specifically defined? It can be empty, a SOAP fault, or an attribute value. -->
                    <s:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
                </s:sequence>
                <s:attribute name="managedObject" type="tns:ManagedObject" use="required" />
            </s:complexType>
            <s:complexType name="ManagedObjectInformationListDefinition">
                <s:sequence>
                    <s:element name="ManagedObjectInformation" type="tns:ManagedObjectInformation" minOccurs="0" maxOccurs="unbounded" />
                </s:sequence>
            </s:complexType>
            <s:element name="ManagedObjectInformationList" type="tns:ManagedObjectInformationListDefinition" />
            <s:element name="Get">
                <s:complexType>
                    <s:sequence>
                        <!-- If the Select element is not present, all members are targetted. -->
                        <s:element name="Select" type="tns:SelectExpression" minOccurs="0" />
                        <s:element name="Interface" type="s:QName" />
                        <s:element name="Name" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="tns:ManagedObjectInformationList" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Set">
                <s:complexType>
                    <s:sequence>
                        <!-- If the Select element is not present, all members are targetted. -->
                        <s:element name="Select" type="tns:SelectExpression" minOccurs="0" />
                        <s:element name="Interface" type="s:QName" />
                        <s:element name="Name" type="s:string" />
                        <s:element name="Value">
                            <s:complexType>
                                <s:sequence>
                                    <!-- TODO: Can this be more specifically defined? It can be an attribute value (e.g. <Name>my name</Name>). -->
                                    <s:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SetResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="tns:ManagedObjectInformationList" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Invoke">
                <s:complexType>
                    <s:sequence>
                        <!-- If the Select element is not present, all members are targetted. -->
                        <s:element name="Select" type="tns:SelectExpression" minOccurs="0" />
                        <s:element name="Interface" type="s:QName" />
                        <s:element name="Name" type="s:string" />
                        <s:element name="ArgumentList" minOccurs="0">
                            <s:complexType>
                                <s:sequence>
                                    <!-- TODO: Can this be more specifically defined? It can be an argument value
                                         which may be complex (e.g. <MyArg><A>something</A><B>else</B></MyArg>). -->
                                    <s:any minOccurs="1" maxOccurs="unbounded" processContents="lax" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="InvokeResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="tns:ManagedObjectInformationList" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetMembers">
                <s:complexType />
            </s:element>
            <s:element name="GetMembersResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="tns:RelationshipObjectList" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="GetManagementWsdlUrlRequest">
        <part name="document" element="tns:GetManagementWsdlUrl" />
    </message>
    <message name="GetManagementWsdlUrlResponse">
        <part name="document" element="tns:GetManagementWsdlUrlResponse" />
    </message>
    <message name="GetNameRequest">
        <part name="document" element="tns:GetName" />
    </message>
    <message name="GetNameResponse">
        <part name="document" element="tns:GetNameResponse" />
    </message>
    <message name="GetTypeRequest">
        <part name="document" element="tns:GetType" />
    </message>
    <message name="GetTypeResponse">
        <part name="document" element="tns:GetTypeResponse" />
    </message>
    <message name="GetDescriptionRequest">
        <part name="document" element="tns:GetDescription" />
    </message>
    <message name="GetDescriptionResponse">
        <part name="document" element="tns:GetDescriptionResponse" />
    </message>
    <message name="GetOwnerRequest">
        <part name="document" element="tns:GetOwner" />
    </message>
    <message name="GetOwnerResponse">
        <part name="document" element="tns:GetOwnerResponse" />
    </message>
    <message name="GetVendorRequest">
        <part name="document" element="tns:GetVendor" />
    </message>
    <message name="GetVendorResponse">
        <part name="document" element="tns:GetVendorResponse" />
    </message>
    <message name="GetResourceVersionRequest">
        <part name="document" element="tns:GetResourceVersion" />
    </message>
    <message name="GetResourceVersionResponse">
        <part name="document" element="tns:GetResourceVersionResponse" />
    </message>
    <message name="GetManagedObjectVersionRequest">
        <part name="document" element="tns:GetManagedObjectVersion" />
    </message>
    <message name="GetManagedObjectVersionResponse">
        <part name="document" element="tns:GetManagedObjectVersionResponse" />
    </message>
    <message name="GetCreatedOnRequest">
        <part name="document" element="tns:GetCreatedOn" />
    </message>
    <message name="GetCreatedOnResponse">
        <part name="document" element="tns:GetCreatedOnResponse" />
    </message>
    <message name="GetResourceHostNameRequest">
        <part name="document" element="tns:GetResourceHostName" />
    </message>
    <message name="GetResourceHostNameResponse">
        <part name="document" element="tns:GetResourceHostNameResponse" />
    </message>
    <message name="GetManagedObjectHostNameRequest">
        <part name="document" element="tns:GetManagedObjectHostName" />
    </message>
    <message name="GetManagedObjectHostNameResponse">
        <part name="document" element="tns:GetManagedObjectHostNameResponse" />
    </message>
    <message name="GetStatusRequest">
        <part name="document" element="tns:GetStatus" />
    </message>
    <message name="GetStatusResponse">
        <part name="document" element="tns:GetStatusResponse" />
    </message>
    <message name="GetRelationshipsRequest">
        <part name="document" element="tns:GetRelationships" />
    </message>
    <message name="GetRelationshipsResponse">
        <part name="document" element="tns:GetRelationshipsResponse" />
    </message>
    <message name="GetSpecificRelationshipsRequest">
        <part name="document" element="tns:GetSpecificRelationships" />
    </message>
    <message name="GetSpecificRelationshipsResponse">
        <part name="document" element="tns:GetSpecificRelationshipsResponse" />
    </message>
    <message name="GetSupportedRelationsRequest">
        <part name="document" element="tns:GetSupportedRelations" />
    </message>
    <message name="GetSupportedRelationsResponse">
        <part name="document" element="tns:GetSupportedRelationsResponse" />
    </message>
    <message name="SetStatusRequest">
        <part name="document" element="tns:SetStatus" />
    </message>
    <message name="SetStatusResponse">
        <part name="document" element="tns:SetStatusResponse" />
    </message>
    <message name="SetNameRequest">
        <part name="document" element="tns:SetName" />
    </message>
    <message name="SetNameResponse">
        <part name="document" element="tns:SetNameResponse" />
    </message>
    <message name="GetRequest">
        <part name="document" element="tns:Get" />
    </message>
    <message name="GetResponse">
        <part name="document" element="tns:GetResponse" />
    </message>
    <message name="SetRequest">
        <part name="document" element="tns:Set" />
    </message>
    <message name="SetResponse">
        <part name="document" element="tns:SetResponse" />
    </message>
    <message name="InvokeRequest">
        <part name="document" element="tns:Invoke" />
    </message>
    <message name="InvokeResponse">
        <part name="document" element="tns:InvokeResponse" />
    </message>
    <message name="GetMembersRequest">
        <part name="document" element="tns:GetMembers" />
    </message>
    <message name="GetMembersResponse">
        <part name="document" element="tns:GetMembersResponse" />
    </message>
    <portType name="ManagedObjectIdentityPT" tns:baseManagementInterface="#base">
        <operation name="GetManagementWsdlUrl" tns:attributeType="s:anyURI">
            <input message="tns:GetManagementWsdlUrlRequest" />
            <output message="tns:GetManagementWsdlUrlResponse" />
        </operation>
    </portType>
    <portType name="ManagedObjectConfigurationPT" tns:baseManagementInterface="#base">
        <operation name="GetName" tns:attributeType="s:string">
            <input message="tns:GetNameRequest" />
            <output message="tns:GetNameResponse" />
        </operation>
        <operation name="GetType" tns:attributeType="s:anyURI">
            <input message="tns:GetTypeRequest" />
            <output message="tns:GetTypeResponse" />
        </operation>
        <operation name="GetDescription" tns:attributeType="s:string">
            <input message="tns:GetDescriptionRequest" />
            <output message="tns:GetDescriptionResponse" />
        </operation>
        <operation name="GetOwner" tns:attributeType="s:string">
            <input message="tns:GetOwnerRequest" />
            <output message="tns:GetOwnerResponse" />
        </operation>
        <operation name="GetVendor" tns:attributeType="s:string">
            <input message="tns:GetVendorRequest" />
            <output message="tns:GetVendorResponse" />
        </operation>
        <operation name="GetResourceVersion" tns:attributeType="s:string">
            <input message="tns:GetResourceVersionRequest" />
            <output message="tns:GetResourceVersionResponse" />
        </operation>
        <operation name="GetManagedObjectVersion" tns:attributeType="s:string">
            <input message="tns:GetManagedObjectVersionRequest" />
            <output message="tns:GetManagedObjectVersionResponse" />
        </operation>
        <operation name="GetCreatedOn" tns:attributeType="s:dateTime">
            <input message="tns:GetCreatedOnRequest" />
            <output message="tns:GetCreatedOnResponse" />
        </operation>
        <operation name="GetResourceHostName" tns:attributeType="s:string">
            <input message="tns:GetResourceHostNameRequest" />
            <output message="tns:GetResourceHostNameResponse" />
        </operation>
        <operation name="GetManagedObjectHostName" tns:attributeType="s:string">
            <input message="tns:GetManagedObjectHostNameRequest" />
            <output message="tns:GetManagedObjectHostNameResponse" />
        </operation>
    </portType>
    <portType name="ManagedObjectMonitoringPT" tns:baseManagementInterface="#base">
        <operation name="GetStatus" tns:attributeType="s:anyURI">
            <input message="tns:GetStatusRequest" />
            <output message="tns:GetStatusResponse" />
        </operation>
    </portType>
    <portType name="ManagedObjectDiscoveryPT" tns:baseManagementInterface="#base">
        <operation name="GetRelationships" tns:attributeType="tns:RelationshipListDefinition">
            <input message="tns:GetRelationshipsRequest" />
            <output message="tns:GetRelationshipsResponse" />
        </operation>
        <operation name="GetSpecificRelationships">
            <input message="tns:GetSpecificRelationshipsRequest" />
            <output message="tns:GetSpecificRelationshipsResponse" />
        </operation>
        <operation name="GetSupportedRelations" tns:attributeType="tns:RelationListDefinition">
            <input message="tns:GetSupportedRelationsRequest" />
            <output message="tns:GetSupportedRelationsResponse" />
        </operation>
    </portType>
    <portType name="ManagedObjectControlPT" tns:baseManagementInterface="#base">
        <operation name="SetStatus" tns:attributeType="s:anyURI">
            <input message="tns:SetStatusRequest" />
            <output message="tns:SetStatusResponse" />
        </operation>
        <operation name="SetName" tns:attributeType="s:string">
            <input message="tns:SetNameRequest" />
            <output message="tns:SetNameResponse" />
        </operation>
    </portType>
    <portType name="ManagedObjectCollectionPT" tns:baseManagementInterface="#base">
        <operation name="Get">
            <input message="tns:GetRequest" />
            <output message="tns:GetResponse" />
        </operation>
        <operation name="Set">
            <input message="tns:SetRequest" />
            <output message="tns:SetResponse" />
        </operation>
        <operation name="Invoke">
            <input message="tns:InvokeRequest" />
            <output message="tns:InvokeResponse" />
        </operation>
        <operation name="GetMembers" tns:relation="http://schemas.hp.com/wsmf/2003/03/Foundation/Relation/ManagerOfCollection" tns:attributeType="tns:RelationshipObjectListDefinition">
            <input message="tns:GetMembersRequest" />
            <output message="tns:GetMembersResponse" />
        </operation>
    </portType>
    <binding name="ManagedObjectIdentitySoapHttpBinding" type="tns:ManagedObjectIdentityPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="GetManagementWsdlUrl">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <binding name="ManagedObjectConfigurationSoapHttpBinding" type="tns:ManagedObjectConfigurationPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="GetName">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetType">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetDescription">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetOwner">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetVendor">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetResourceVersion">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetManagedObjectVersion">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetCreatedOn">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetResourceHostName">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetManagedObjectHostName">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <binding name="ManagedObjectMonitoringSoapHttpBinding" type="tns:ManagedObjectMonitoringPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="GetStatus">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <binding name="ManagedObjectDiscoverySoapHttpBinding" type="tns:ManagedObjectDiscoveryPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="GetRelationships">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetSpecificRelationships">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetSupportedRelations">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <binding name="ManagedObjectControlSoapHttpBinding" type="tns:ManagedObjectControlPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="SetStatus">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="SetName">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <binding name="ManagedObjectCollectionSoapHttpBinding" type="tns:ManagedObjectCollectionPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="Get">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="Set">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="Invoke">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetMembers">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
</definitions>