modules/gateway/server/src/main/resources/com/l7tech/server/hpsoam/resources/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions targetNamespace="http://schemas.hp.com/wsmf/2003/03/Service" xmlns:tns="http://schemas.hp.com/wsmf/2003/03/Service" xmlns:wsmf="http://schemas.hp.com/wsmf/2003/03/Foundation" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <documentation>
This document defines the WSMF Service interface. The Service interface inherits
from the ManagedObject interface.

The Service interface supports the following event types with the respective URIs:
  http://schemas.hp.com/wsmf/2003/01/Service/Event/Starting
  http://schemas.hp.com/wsmf/2003/01/Service/Event/Stopping
  http://schemas.hp.com/wsmf/2003/01/Service/Event/Stopped

The Service interface supports the following values for the Status attribute:
  http://schemas.hp.com/wsmf/2003/01/Service/Status/Starting
  http://schemas.hp.com/wsmf/2003/01/Service/Status/Stopping
    </documentation>
    <types>
        <s:schema targetNamespace="http://schemas.hp.com/wsmf/2003/03/Service" elementFormDefault="qualified">
            <s:import namespace="http://schemas.hp.com/wsmf/2003/03/Foundation" schemaLocation="WSMF-Foundation.xsd" />
            <s:element name="GetOperationalWsdlUrl">
                <s:complexType />
            </s:element>
            <s:element name="GetOperationalWsdlUrlResponse" type="s:anyURI" />
            <s:element name="GetConversations">
                <s:complexType />
            </s:element>
            <s:element name="GetConversationsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="wsmf:RelationshipObjectList" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetConversationById">
                <s:complexType>
                    <s:sequence>
                        <s:element name="ConversationId" type="s:anyURI" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetConversationByIdResponse" type="wsmf:ManagedObject" />
            <s:element name="GetLastMessage">
                <s:complexType />
            </s:element>
            <s:element name="GetLastMessageResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="wsmf:Message" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetLastFaultMessage">
                <s:complexType />
            </s:element>
            <s:element name="GetLastFaultMessageResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="wsmf:Message" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetContainer">
                <s:complexType />
            </s:element>
            <s:element name="GetContainerResponse" type="wsmf:ManagedObject" />
            <s:element name="Start">
                <s:complexType />
            </s:element>
            <s:element name="StartResponse">
                <s:complexType />
            </s:element>
            <s:element name="Stop">
                <s:complexType />
            </s:element>
            <s:element name="StopResponse">
                <s:complexType />
            </s:element>
            <s:element name="Restart">
                <s:complexType />
            </s:element>
            <s:element name="RestartResponse">
                <s:complexType />
            </s:element>
            <s:element name="GetTotalMessageCount">
                <s:complexType />
            </s:element>
            <s:element name="GetTotalMessageCountResponse" type="s:nonNegativeInteger" />
            <s:element name="GetSuccessMessageCount">
                <s:complexType />
            </s:element>
            <s:element name="GetSuccessMessageCountResponse" type="s:nonNegativeInteger" />
            <s:element name="GetFailedMessageCount">
                <s:complexType />
            </s:element>
            <s:element name="GetFailedMessageCountResponse" type="s:nonNegativeInteger" />
            <s:element name="GetSuccessMaximumResponseTime">
                <s:complexType />
            </s:element>
            <s:element name="GetSuccessMaximumResponseTimeResponse" type="s:nonNegativeInteger" />
            <s:element name="GetSuccessMinimumResponseTime">
                <s:complexType />
            </s:element>
            <s:element name="GetSuccessMinimumResponseTimeResponse" type="s:nonNegativeInteger" />
            <s:element name="GetSuccessCumulativeResponseTime">
                <s:complexType />
            </s:element>
            <s:element name="GetSuccessCumulativeResponseTimeResponse" type="s:nonNegativeInteger" />
            <s:element name="GetFailedMaximumResponseTime">
                <s:complexType />
            </s:element>
            <s:element name="GetFailedMaximumResponseTimeResponse" type="s:nonNegativeInteger" />
            <s:element name="GetFailedMinimumResponseTime">
                <s:complexType />
            </s:element>
            <s:element name="GetFailedMinimumResponseTimeResponse" type="s:nonNegativeInteger" />
            <s:element name="GetFailedCumulativeResponseTime">
                <s:complexType />
            </s:element>
            <s:element name="GetFailedCumulativeResponseTimeResponse" type="s:nonNegativeInteger" />
        </s:schema>
    </types>
    <message name="GetOperationalWsdlUrlRequest">
        <part name="document" element="tns:GetOperationalWsdlUrl" />
    </message>
    <message name="GetOperationalWsdlUrlResponse">
        <part name="document" element="tns:GetOperationalWsdlUrlResponse" />
    </message>
    <message name="GetConversationsRequest">
        <part name="document" element="tns:GetConversations" />
    </message>
    <message name="GetConversationsResponse">
        <part name="document" element="tns:GetConversationsResponse" />
    </message>
    <message name="GetConversationByIdRequest">
        <part name="document" element="tns:GetConversationById" />
    </message>
    <message name="GetConversationByIdResponse">
        <part name="document" element="tns:GetConversationByIdResponse" />
    </message>
    <message name="GetLastMessageRequest">
        <part name="document" element="tns:GetLastMessage" />
    </message>
    <message name="GetLastMessageResponse">
        <part name="document" element="tns:GetLastMessageResponse" />
    </message>
    <message name="GetLastFaultMessageRequest">
        <part name="document" element="tns:GetLastFaultMessage" />
    </message>
    <message name="GetLastFaultMessageResponse">
        <part name="document" element="tns:GetLastFaultMessageResponse" />
    </message>
    <message name="GetContainerRequest">
        <part name="document" element="tns:GetContainer" />
    </message>
    <message name="GetContainerResponse">
        <part name="document" element="tns:GetContainerResponse" />
    </message>
    <message name="StartRequest">
        <part name="document" element="tns:Start" />
    </message>
    <message name="StartResponse">
        <part name="document" element="tns:StartResponse" />
    </message>
    <message name="StopRequest">
        <part name="document" element="tns:Stop" />
    </message>
    <message name="StopResponse">
        <part name="document" element="tns:StopResponse" />
    </message>
    <message name="RestartRequest">
        <part name="document" element="tns:Restart" />
    </message>
    <message name="RestartResponse">
        <part name="document" element="tns:RestartResponse" />
    </message>
    <message name="GetTotalMessageCountRequest">
        <part name="document" element="tns:GetTotalMessageCount" />
    </message>
    <message name="GetTotalMessageCountResponse">
        <part name="document" element="tns:GetTotalMessageCountResponse" />
    </message>
    <message name="GetSuccessMessageCountRequest">
        <part name="document" element="tns:GetSuccessMessageCount" />
    </message>
    <message name="GetSuccessMessageCountResponse">
        <part name="document" element="tns:GetSuccessMessageCountResponse" />
    </message>
    <message name="GetFailedMessageCountRequest">
        <part name="document" element="tns:GetFailedMessageCount" />
    </message>
    <message name="GetFailedMessageCountResponse">
        <part name="document" element="tns:GetFailedMessageCountResponse" />
    </message>
    <message name="GetSuccessMaximumResponseTimeRequest">
        <part name="document" element="tns:GetSuccessMaximumResponseTime" />
    </message>
    <message name="GetSuccessMaximumResponseTimeResponse">
        <part name="document" element="tns:GetSuccessMaximumResponseTimeResponse" />
    </message>
    <message name="GetSuccessMinimumResponseTimeRequest">
        <part name="document" element="tns:GetSuccessMinimumResponseTime" />
    </message>
    <message name="GetSuccessMinimumResponseTimeResponse">
        <part name="document" element="tns:GetSuccessMinimumResponseTimeResponse" />
    </message>
    <message name="GetSuccessCumulativeResponseTimeRequest">
        <part name="document" element="tns:GetSuccessCumulativeResponseTime" />
    </message>
    <message name="GetSuccessCumulativeResponseTimeResponse">
        <part name="document" element="tns:GetSuccessCumulativeResponseTimeResponse" />
    </message>
    <message name="GetFailedMaximumResponseTimeRequest">
        <part name="document" element="tns:GetFailedMaximumResponseTime" />
    </message>
    <message name="GetFailedMaximumResponseTimeResponse">
        <part name="document" element="tns:GetFailedMaximumResponseTimeResponse" />
    </message>
    <message name="GetFailedMinimumResponseTimeRequest">
        <part name="document" element="tns:GetFailedMinimumResponseTime" />
    </message>
    <message name="GetFailedMinimumResponseTimeResponse">
        <part name="document" element="tns:GetFailedMinimumResponseTimeResponse" />
    </message>
    <message name="GetFailedCumulativeResponseTimeRequest">
        <part name="document" element="tns:GetFailedCumulativeResponseTime" />
    </message>
    <message name="GetFailedCumulativeResponseTimeResponse">
        <part name="document" element="tns:GetFailedCumulativeResponseTimeResponse" />
    </message>
    <portType name="ServiceConfigurationPT" wsmf:baseManagementInterface="wsmf:ManagedObjectConfigurationPT">
        <operation name="GetOperationalWsdlUrl" wsmf:attributeType="s:anyURI">
            <input message="tns:GetOperationalWsdlUrlRequest" />
            <output message="tns:GetOperationalWsdlUrlResponse" />
        </operation>
    </portType>
    <portType name="ServiceMonitoringPT" wsmf:baseManagementInterface="wsmf:ManagedObjectMonitoringPT">
        <operation name="GetConversations" wsmf:relation="http://schemas.hp.com/wsmf/2003/03/relations/contains" wsmf:attributeType="wsmf:RelationshipObjectListDefinition">
            <input message="tns:GetConversationsRequest" />
            <output message="tns:GetConversationsResponse" />
        </operation>
        <operation name="GetConversationById">
            <input message="tns:GetConversationByIdRequest" />
            <output message="tns:GetConversationByIdResponse" />
        </operation>
        <operation name="GetLastMessage" wsmf:attributeType="wsmf:Message">
            <input message="tns:GetLastMessageRequest" />
            <output message="tns:GetLastMessageResponse" />
        </operation>
        <operation name="GetLastFaultMessage" wsmf:attributeType="wsmf:Message">
            <input message="tns:GetLastFaultMessageRequest" />
            <output message="tns:GetLastFaultMessageResponse" />
        </operation>
    </portType>
    <portType name="ServiceDiscoveryPT" wsmf:baseManagementInterface="wsmf:ManagedObjectDiscoveryPT">
        <operation name="GetContainer" wsmf:attributeType="s:anyURI">
            <input message="tns:GetContainerRequest" />
            <output message="tns:GetContainerResponse" />
        </operation>
    </portType>
    <portType name="ServiceControlPT" wsmf:baseManagementInterface="wsmf:ManagedObjectControlPT">
        <operation name="Start">
            <input message="tns:StartRequest" />
            <output message="tns:StartResponse" />
        </operation>
        <operation name="Stop">
            <input message="tns:StopRequest" />
            <output message="tns:StopResponse" />
        </operation>
        <operation name="Restart">
            <input message="tns:RestartRequest" />
            <output message="tns:RestartResponse" />
        </operation>
    </portType>
    <portType name="ServicePerformancePT" wsmf:baseManagementInterface="#base">
        <operation name="GetTotalMessageCount" wsmf:attributeType="s:nonNegativeInteger">
            <input message="tns:GetTotalMessageCountRequest" />
            <output message="tns:GetTotalMessageCountResponse" />
        </operation>
        <operation name="GetSuccessMessageCount" wsmf:attributeType="s:nonNegativeInteger">
            <input message="tns:GetSuccessMessageCountRequest" />
            <output message="tns:GetSuccessMessageCountResponse" />
        </operation>
        <operation name="GetFailedMessageCount" wsmf:attributeType="s:nonNegativeInteger">
            <input message="tns:GetFailedMessageCountRequest" />
            <output message="tns:GetFailedMessageCountResponse" />
        </operation>
        <operation name="GetSuccessMaximumResponseTime" wsmf:attributeType="s:nonNegativeInteger">
            <input message="tns:GetSuccessMaximumResponseTimeRequest" />
            <output message="tns:GetSuccessMaximumResponseTimeResponse" />
        </operation>
        <operation name="GetSuccessMinimumResponseTime" wsmf:attributeType="s:nonNegativeInteger">
            <input message="tns:GetSuccessMinimumResponseTimeRequest" />
            <output message="tns:GetSuccessMinimumResponseTimeResponse" />
        </operation>
        <operation name="GetSuccessCumulativeResponseTime" wsmf:attributeType="s:nonNegativeInteger">
            <input message="tns:GetSuccessCumulativeResponseTimeRequest" />
            <output message="tns:GetSuccessCumulativeResponseTimeResponse" />
        </operation>
        <operation name="GetFailedMaximumResponseTime" wsmf:attributeType="s:nonNegativeInteger">
            <input message="tns:GetFailedMaximumResponseTimeRequest" />
            <output message="tns:GetFailedMaximumResponseTimeResponse" />
        </operation>
        <operation name="GetFailedMinimumResponseTime" wsmf:attributeType="s:nonNegativeInteger">
            <input message="tns:GetFailedMinimumResponseTimeRequest" />
            <output message="tns:GetFailedMinimumResponseTimeResponse" />
        </operation>
        <operation name="GetFailedCumulativeResponseTime" wsmf:attributeType="s:nonNegativeInteger">
            <input message="tns:GetFailedCumulativeResponseTimeRequest" />
            <output message="tns:GetFailedCumulativeResponseTimeResponse" />
        </operation>
    </portType>
    <binding name="ServiceConfigurationSoapHttpBinding" type="tns:ServiceConfigurationPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="GetOperationalWsdlUrl">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <binding name="ServiceMonitoringSoapHttpBinding" type="tns:ServiceMonitoringPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="GetConversations">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetConversationById">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetLastMessage">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetLastFaultMessage">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <binding name="ServiceDiscoverySoapHttpBinding" type="tns:ServiceDiscoveryPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="GetContainer">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <binding name="ServiceControlSoapHttpBinding" type="tns:ServiceControlPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="Start">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="Stop">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="Restart">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <binding name="ServicePerformanceSoapHttpBinding" type="tns:ServicePerformancePT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="GetTotalMessageCount">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetSuccessMessageCount">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetFailedMessageCount">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetSuccessMaximumResponseTime">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetSuccessMinimumResponseTime">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetSuccessCumulativeResponseTime">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetFailedMaximumResponseTime">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetFailedMinimumResponseTime">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GetFailedCumulativeResponseTime">
            <soap:operation soapAction="" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
</definitions>