modules/gateway/server/src/main/resources/com/l7tech/server/hpsoam/resources/ServiceMO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="^^^INSERT_NAME_HERE^^^" targetNamespace="http://openview.hp.com/xmlns/mip/2005/03/Service" xmlns:Events="http://schemas.hp.com/wsmf/2003/03/Events#" xmlns:Foundation="http://schemas.hp.com/wsmf/2003/03/Foundation" xmlns:Service="http://schemas.hp.com/wsmf/2003/03/Service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://openview.hp.com/xmlns/mip/2005/03/Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:import location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/static/WS-Events.wsdl" namespace="http://schemas.hp.com/wsmf/2003/03/Events#" />
    <wsdl:import location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/static/WSMF-Foundation.wsdl" namespace="http://schemas.hp.com/wsmf/2003/03/Foundation" />
    <wsdl:import location="^^^INSERT_METHOD_HOST_PORT_HERE^^^/ssg/wsmf/static/Service.wsdl" namespace="http://schemas.hp.com/wsmf/2003/03/Service" />
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://openview.hp.com/xmlns/mip/2005/03/Service" xmlns:tns="http://openview.hp.com/xmlns/mip/2005/03/Service" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="getLogLevel">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="getLogLevelResponse" type="xsd:string" />
            <xsd:element name="getTotalViolationsCount">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="getTotalViolationsCountResponse" type="xsd:long" />
            <xsd:element name="resetFailedMaximumResponseTime">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="resetFailedMaximumResponseTimeResponse" type="xsd:long" />
            <xsd:element name="resetFailedMinimumResponseTime">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="resetFailedMinimumResponseTimeResponse" type="xsd:long" />
            <xsd:element name="resetSuccessMaximumResponseTime">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="resetSuccessMaximumResponseTimeResponse" type="xsd:long" />
            <xsd:element name="resetSuccessMinimumResponseTime">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="resetSuccessMinimumResponseTimeResponse" type="xsd:long" />
            <xsd:element name="sendAttribChangeTestNotification">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="sendAttribChangeTestNotificationResponse">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="sendGenericTestNotification">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="sendGenericTestNotificationResponse">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="setLogLevel">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="LogLevel" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="setLogLevelResponse">
                <xsd:complexType />
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="resetFailedMinimumResponseTimeResponse">
        <wsdl:part element="tns:resetFailedMinimumResponseTimeResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="getLogLevelResponse">
        <wsdl:part element="tns:getLogLevelResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="resetSuccessMaximumResponseTimeRequest">
        <wsdl:part element="tns:resetSuccessMaximumResponseTime" name="document" />
    </wsdl:message>
    <wsdl:message name="resetSuccessMaximumResponseTimeResponse">
        <wsdl:part element="tns:resetSuccessMaximumResponseTimeResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="resetFailedMinimumResponseTimeRequest">
        <wsdl:part element="tns:resetFailedMinimumResponseTime" name="document" />
    </wsdl:message>
    <wsdl:message name="getLogLevelRequest">
        <wsdl:part element="tns:getLogLevel" name="document" />
    </wsdl:message>
    <wsdl:message name="sendAttribChangeTestNotificationRequest">
        <wsdl:part element="tns:sendAttribChangeTestNotification" name="document" />
    </wsdl:message>
    <wsdl:message name="sendGenericTestNotificationRequest">
        <wsdl:part element="tns:sendGenericTestNotification" name="document" />
    </wsdl:message>
    <wsdl:message name="sendAttribChangeTestNotificationResponse">
        <wsdl:part element="tns:sendAttribChangeTestNotificationResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="getTotalViolationsCountRequest">
        <wsdl:part element="tns:getTotalViolationsCount" name="document" />
    </wsdl:message>
    <wsdl:message name="resetFailedMaximumResponseTimeRequest">
        <wsdl:part element="tns:resetFailedMaximumResponseTime" name="document" />
    </wsdl:message>
    <wsdl:message name="resetSuccessMinimumResponseTimeRequest">
        <wsdl:part element="tns:resetSuccessMinimumResponseTime" name="document" />
    </wsdl:message>
    <wsdl:message name="setLogLevelResponse">
        <wsdl:part element="tns:setLogLevelResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="resetFailedMaximumResponseTimeResponse">
        <wsdl:part element="tns:resetFailedMaximumResponseTimeResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="getTotalViolationsCountResponse">
        <wsdl:part element="tns:getTotalViolationsCountResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="sendGenericTestNotificationResponse">
        <wsdl:part element="tns:sendGenericTestNotificationResponse" name="document" />
    </wsdl:message>
    <wsdl:message name="setLogLevelRequest">
        <wsdl:part element="tns:setLogLevel" name="document" />
    </wsdl:message>
    <wsdl:message name="resetSuccessMinimumResponseTimeResponse">
        <wsdl:part element="tns:resetSuccessMinimumResponseTimeResponse" name="document" />
    </wsdl:message>
    <wsdl:portType Foundation:baseManagementInterface="#base" name="ServicePerformanceExtPT">
        <wsdl:operation name="resetSuccessMinimumResponseTime">
            <wsdl:input message="tns:resetSuccessMinimumResponseTimeRequest" />
            <wsdl:output message="tns:resetSuccessMinimumResponseTimeResponse" />
        </wsdl:operation>
        <wsdl:operation name="resetSuccessMaximumResponseTime">
            <wsdl:input message="tns:resetSuccessMaximumResponseTimeRequest" />
            <wsdl:output message="tns:resetSuccessMaximumResponseTimeResponse" />
        </wsdl:operation>
        <wsdl:operation name="resetFailedMinimumResponseTime">
            <wsdl:input message="tns:resetFailedMinimumResponseTimeRequest" />
            <wsdl:output message="tns:resetFailedMinimumResponseTimeResponse" />
        </wsdl:operation>
        <wsdl:operation name="resetFailedMaximumResponseTime">
            <wsdl:input message="tns:resetFailedMaximumResponseTimeRequest" />
            <wsdl:output message="tns:resetFailedMaximumResponseTimeResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType Foundation:baseManagementInterface="#base" name="ServicePT">
        <wsdl:operation name="sendGenericTestNotification">
            <wsdl:input message="tns:sendGenericTestNotificationRequest" />
            <wsdl:output message="tns:sendGenericTestNotificationResponse" />
        </wsdl:operation>
        <wsdl:operation name="sendAttribChangeTestNotification">
            <wsdl:input message="tns:sendAttribChangeTestNotificationRequest" />
            <wsdl:output message="tns:sendAttribChangeTestNotificationResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType Foundation:baseManagementInterface="#base" name="ServiceSecurityPT">
        <wsdl:operation Foundation:attributeType="xsd:long" name="getTotalViolationsCount">
            <wsdl:input message="tns:getTotalViolationsCountRequest" />
            <wsdl:output message="tns:getTotalViolationsCountResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType Foundation:baseManagementInterface="#base" name="ServiceLogging">
        <wsdl:operation Foundation:attributeType="xsd:string" name="getLogLevel">
            <wsdl:input message="tns:getLogLevelRequest" />
            <wsdl:output message="tns:getLogLevelResponse" />
        </wsdl:operation>
        <wsdl:operation Foundation:attributeType="xsd:string" name="setLogLevel">
            <wsdl:input message="tns:setLogLevelRequest" />
            <wsdl:output message="tns:setLogLevelResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicePerformanceExtSoapHttpBinding" type="tns:ServicePerformanceExtPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="resetSuccessMinimumResponseTime">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="resetSuccessMaximumResponseTime">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="resetFailedMinimumResponseTime">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="resetFailedMaximumResponseTime">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceLoggingSoapHttpBinding" type="tns:ServiceLogging">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getLogLevel">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setLogLevel">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceSoapHttpBinding" type="tns:ServicePT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="sendGenericTestNotification">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendAttribChangeTestNotification">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceSecuritySoapHttpBinding" type="tns:ServiceSecurityPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getTotalViolationsCount">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://openview.hp.com/xmlns/mip/2005/03/Service" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="^^^INSERT_NAME_HERE^^^">
        <wsdl:port binding="Foundation:ManagedObjectDiscoverySoapHttpBinding" name="FoundationManagedObjectDiscoveryPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="tns:ServicePerformanceExtSoapHttpBinding" name="ServiceXServicePerformanceExtPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="Service:ServicePerformanceSoapHttpBinding" name="ServiceServicePerformancePort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="tns:ServiceLoggingSoapHttpBinding" name="ServiceXServiceLoggingPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="Service:ServiceControlSoapHttpBinding" name="ServiceServiceControlPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="Service:ServiceMonitoringSoapHttpBinding" name="ServiceServiceMonitoringPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="Foundation:ManagedObjectMonitoringSoapHttpBinding" name="FoundationManagedObjectMonitoringPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="tns:ServiceSoapHttpBinding" name="ServiceXServicePort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="Foundation:ManagedObjectControlSoapHttpBinding" name="FoundationManagedObjectControlPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="Service:ServiceDiscoverySoapHttpBinding" name="ServiceServiceDiscoveryPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="Foundation:ManagedObjectIdentitySoapHttpBinding" name="FoundationManagedObjectIdentityPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="Events:EventPushSoapHttpBinding" name="EventsEventPushPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="tns:ServiceSecuritySoapHttpBinding" name="ServiceXServiceSecurityPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="Service:ServiceConfigurationSoapHttpBinding" name="ServiceServiceConfigurationPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="Events:EventPullSoapHttpBinding" name="EventsEventPullPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
        <wsdl:port binding="Foundation:ManagedObjectConfigurationSoapHttpBinding" name="FoundationManagedObjectConfigurationPort">
            <soap:address location="^^^INSERT_TARGET_HERE^^^" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>