modules/gateway/server/src/main/resources/com/l7tech/server/tokenservice/resources/wsdl/ws-trust-200404-1.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

Copyright Notice

(c) 2001-2004 BEA Systems, Inc., Computer Associates International,
Inc., International Business Machines Corporation, Layer 7
Technologies, Microsoft Corporation, Netegrity, Inc., Oblix Inc.,
OpenNetwork Technologies Inc., Ping Identity Corporation, Reactivity Inc., 
RSA Security Inc., VeriSign Inc., and Westbridge Technology, Inc. 
All rights reserved. 

BEA, Computer Associates, IBM, Layer 7, Microsoft, Netegrity, Oblix,
OpenNetwork, Ping Identity, Reactivity, RSA Security, VeriSign, and Westbridge
(collectively, the "Authors") hereby grant you permission to copy and
display the WS-Trust WSDL document, in any medium without fee or
royalty, provided that you include the following on ALL copies of the
WS-Trust WSDL document that you make: 

1.      A link or URL to the Specification at this location. 

2.      The copyright notice as shown in the WS-Trust Specification.

BEA, Computer Associates, IBM, Layer7, Microsoft, Netegrity, Oblix,
OpenNetwork, Ping Identity, Reactivity, RSA Security, VeriSign, and Westbridge
(collectively, the "Authors") each agree to grant you a license, under
royalty-free and otherwise reasonable, non-discriminatory terms and
conditions, to their respective essential patent claims that they deem
necessary to implement the WS-Trust WSDL document. 

THE WS-Trust WSDL DOCUMENT IS PROVIDED "AS IS," AND THE AUTHORS MAKE
NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT
NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE; THAT THE CONTENTS OF
THE WS-Trust WSDL DOCUMENT ARE SUITABLE FOR ANY PURPOSE; NOR THAT THE
IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY THIRD PARTY
PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS. 

THE AUTHORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL,
INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO ANY
USE OR DISTRIBUTION OF THE WS-Trust SPECIFICATION. 

The WS-Trust WSDL document may change before final release and you are
cautioned against relying on the content of this specification. 

The name and trademarks of the Authors may NOT be used in any manner,
including advertising or publicity pertaining to the Specification or
its contents without specific, written prior permission. Title to
copyright in the WS-Trust WSDL document will at all times remain with
the Authors. 

No other rights are granted by implication, estoppel or otherwise.

-->
<wsdl:definitions
        targetNamespace="http://schemas.xmlsoap.org/ws/2004/04/trust"
        xmlns:tns="http://schemas.xmlsoap.org/ws/2004/04/trust"
        xmlns:wst="http://schemas.xmlsoap.org/ws/2004/04/trust"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">

    <!-- this is the WS-I BP-compliant way to import a schema -->
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="http://schemas.xmlsoap.org/ws/2004/04/trust" schemaLocation="../schema/ws-trust-200404-1.1.xsd"/>
        </xs:schema>
    </wsdl:types>


    <!-- WS-Trust defines the following GEDs -->
    <wsdl:message name="RequestSecurityTokenMsg">
        <wsdl:part name="request" element="wst:RequestSecurityToken"/>
    </wsdl:message>
    <wsdl:message name="RequestSecurityTokenResponseMsg">
        <wsdl:part name="response" element="wst:RequestSecurityTokenResponse"/>
    </wsdl:message>
    <wsdl:message name="RequestSecurityTokenResponseCollectionMsg">
        <wsdl:part name="responseCollection" element="wst:RequestSecurityTokenResponseCollection"/>
    </wsdl:message>

    <!-- This portType models the full request/response the Security Token Service: -->

    <wsdl:portType name="WSSecurityRequestor">
        <wsdl:operation name="SecurityTokenResponse">
            <wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
        </wsdl:operation>
        <wsdl:operation name="SecurityTokenResponse2">
            <wsdl:input message="tns:RequestSecurityTokenResponseCollectionMsg"/>
        </wsdl:operation>
        <wsdl:operation name="Challenge">
            <wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
            <wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
        </wsdl:operation>
        <wsdl:operation name="Challenge2">
            <wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
            <wsdl:output message="tns:RequestSecurityTokenResponseCollectionMsg"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- These portTypes model the individual message exchanges -->

    <wsdl:portType name="SecurityTokenRequestService">
        <wsdl:operation name="RequestSecurityToken">
            <wsdl:input message="tns:RequestSecurityTokenMsg"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="SecurityTokenService">
        <wsdl:operation name="RequestSecurityToken">
            <wsdl:input message="tns:RequestSecurityTokenMsg"/>
            <wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
        </wsdl:operation>
        <wsdl:operation name="RequestSecurityToken2">
            <wsdl:input message="tns:RequestSecurityTokenMsg"/>
            <wsdl:output message="tns:RequestSecurityTokenResponseCollectionMsg"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- WSSecurityRequestor Soap Bindings -->
    <wsdl:binding name="WSSecurityRequestorSoap" type="tns:WSSecurityRequestor">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SecurityTokenResponse">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="SecurityTokenResponse2">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="Challenge">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="Challenge2">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="WSSecurityRequestorSoap12" type="tns:WSSecurityRequestor">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SecurityTokenResponse">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="SecurityTokenResponse2">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="Challenge">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="Challenge2">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- SecurityTokenRequestService Soap Bindings -->
    <wsdl:binding name="SecurityTokenRequestServiceSoap" type="tns:SecurityTokenRequestService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RequestSecurityToken">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="SecurityTokenRequestServiceSoap12" type="tns:SecurityTokenRequestService">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RequestSecurityToken">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

    <!-- SecurityTokenService Soap Bindings -->
    <wsdl:binding name="SecurityTokenServiceSoap" type="tns:SecurityTokenService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RequestSecurityToken">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="RequestSecurityToken2">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="SecurityTokenServiceSoap12" type="tns:SecurityTokenService">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RequestSecurityToken">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="RequestSecurityToken2">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

</wsdl:definitions>
