modules/skunkworks/src/main/resources/com/l7tech/skunkworks/uddi/SpaceOrderofBattle_Child.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SOB.IPD.LMCO/ExternalWSDL" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SOB.IPD.LMCO/ExternalWSDL">

  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SOB.IPD.LMCO/">
      <s:element name="listProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delay" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delay" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="listProductsSoapIn">
    <wsdl:part name="parameters" element="tns:listProducts"/>
  </wsdl:message>
  <wsdl:message name="listProductsSoapOut">
    <wsdl:part name="parameters" element="tns:listProductsResponse"/>
  </wsdl:message>

    <wsdl:portType name="ChildPortType">
        <wsdl:operation name="AnOperation">
            <wsdl:input message="tns:listProductsSoapIn"/>
            <wsdl:output message="tns:listProductsSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SameBindingName" type="tns:ChildPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AnOperation">
            <soap:operation soapAction="http://SOB.IPD.LMCO/GetTLE" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SpaceOrderTestCaseServiceNamespaces">
        <wsdl:port name="ChildWsdlPort" binding="tns:SameBindingName">
            <soap12:address location="http://urlfromtheimportedwsdlservice.com:1610/SpaceOrderofBattle.asmx"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
