modules/skunkworks/src/main/resources/com/l7tech/skunkworks/uddi/SpaceOrderofBattle_Parent_NoImport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- This parent WSDL defines a wsdl:binding and wsdl:port defined in the imported wsdl, but they have a different namespace-->        
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SOB.IPD.LMCO.SERVICES/" xmlns:i0="http://SOB.IPD.LMCO/ExternalWSDL" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SOB.IPD.LMCO.SERVICES/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SOB.IPD.LMCO.SERVICES/">
      <s:element name="listProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delay" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delay" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="listProductsSoapIn">
    <wsdl:part name="parameters" element="tns:listProducts"/>
  </wsdl:message>
  <wsdl:message name="listProductsSoapOut">
    <wsdl:part name="parameters" element="tns:listProductsResponse"/>
  </wsdl:message>

    <wsdl:portType name="ParentPortType">
        <wsdl:operation name="AnOperation">
            <wsdl:input message="tns:listProductsSoapIn"/>
            <wsdl:output message="tns:listProductsSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SameBindingName" type="tns:ParentPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AnOperation">
            <soap:operation soapAction="http://SOB.IPD.LMCO.SERVICES/AnOperation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SpaceOrderTestCaseServiceNamespaces">
        <wsdl:port name="ParentWsdlPort" binding="tns:SameBindingName">
            <soap:address location="http://thehostwedontwanttorouteto.com:1610/SpaceOrderofBattle.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
