etc/schema/uddiv3/uddi_v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:uddi-org:api_v3" elementFormDefault="qualified" version="3.0.2" id="uddi" xsi:schemaLocation="urn:uddi-org:schemaCentricC14N:2002-07-10 http://uddi.org/schema/SchemaCentricCanonicalization.xsd" xmlns:scc14n="urn:uddi-org:schemaCentricC14N:2002-07-10" xmlns:uddi="urn:uddi-org:api_v3" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- 
	MODIFIED for use with JAXRPC:
	- remove all use of final="restriction"
	- remove all xsd:choice, replace with less restrictive schema.
	
	Copyright (c) 2000-2002 by Accenture, Ariba, Inc., Commerce One, Inc. 
	Fujitsu Limited, Hewlett-Packard Company, i2 Technologies, Inc., 
	Intel Corporation, International Business Machines Corporation,  
	Microsoft Corporation, Oracle Corporation, SAP AG, Sun Microsystems, Inc., 
	and VeriSign, Inc.  All Rights Reserved.
    
	Copyright (c) OASIS Open 2002-2004. All Rights Reserved.
	-->
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<!-- Attribute type definitions -->
	<xsd:simpleType name="uddiKey" scc14n:caseMapKind="fold">
		<xsd:restriction base="xsd:anyURI">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="bindingKey">
		<xsd:restriction base="uddi:uddiKey"/>
	</xsd:simpleType>
	<xsd:simpleType name="businessKey">
		<xsd:restriction base="uddi:uddiKey"/>
	</xsd:simpleType>
	<xsd:simpleType name="findQualifier" scc14n:caseMapKind="fold">
		<xsd:restriction base="uddi:validationTypeString255"/>
	</xsd:simpleType>
	<xsd:simpleType name="serviceKey">
		<xsd:restriction base="uddi:uddiKey"/>
	</xsd:simpleType>
	<xsd:simpleType name="tModelKey">
		<xsd:restriction base="uddi:uddiKey"/>
	</xsd:simpleType>
	<xsd:element name="authorizedName" type="uddi:authorizedName"/>
	<xsd:simpleType name="authorizedName">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="nodeID" type="uddi:nodeID"/>
	<xsd:simpleType name="nodeID">
		<xsd:restriction base="uddi:uddiKey"/>
	</xsd:simpleType>
	<xsd:simpleType name="completionStatus">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:enumeration value="status:complete"/>
			<xsd:enumeration value="status:fromKey_incomplete"/>
			<xsd:enumeration value="status:toKey_incomplete"/>
			<xsd:enumeration value="status:both_incomplete"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="direction">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="fromKey"/>
			<xsd:enumeration value="toKey"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="instanceParms">
		<xsd:restriction base="uddi:validationTypeString8192"/>
	</xsd:simpleType>
	<xsd:simpleType name="deleted">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="timeInstant">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="truncated">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="keyName">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="keyType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="businessKey"/>
			<xsd:enumeration value="tModelKey"/>
			<xsd:enumeration value="serviceKey"/>
			<xsd:enumeration value="bindingKey"/>
			<xsd:enumeration value="subscriptionKey"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="keyValue">
		<xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                        <xsd:whiteSpace value="collapse"/>
                </xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="sortCode">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="useType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Type and element definitions for registry content -->
	<xsd:element name="accessPoint" type="uddi:accessPoint"/>
	<xsd:complexType name="accessPoint">
		<xsd:simpleContent>
			<xsd:extension base="uddi:validationTypeString4096">
				<xsd:attribute name="useType" type="uddi:useType" use="optional" default=""/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="actualCount" type="xsd:int"/>
	<xsd:element name="address" type="uddi:address"/>
	<xsd:complexType name="address">
		<xsd:sequence>
			<xsd:element ref="uddi:addressLine" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute ref="xml:lang" use="optional"/>
		<xsd:attribute name="useType" type="uddi:useType" use="optional" default=""/>
		<xsd:attribute name="sortCode" type="uddi:sortCode" use="optional" default=""/>
		<xsd:attribute name="tModelKey" type="uddi:tModelKey" use="optional"/>
	</xsd:complexType>
	<xsd:element name="addressLine" type="uddi:addressLine"/>
	<xsd:complexType name="addressLine">
		<xsd:simpleContent>
			<xsd:extension base="uddi:validationTypeString80">
				<xsd:attribute name="keyName" type="uddi:keyName" use="optional" default=""/>
				<xsd:attribute name="keyValue" type="uddi:keyValue" use="optional" default=""/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="assertionStatusItem" type="uddi:assertionStatusItem"/>
	<xsd:complexType name="assertionStatusItem">
		<xsd:sequence>
			<xsd:element ref="uddi:fromKey"/>
			<xsd:element ref="uddi:toKey"/>
			<xsd:element ref="uddi:keyedReference"/>
			<xsd:element ref="uddi:keysOwned"/>
		</xsd:sequence>
		<xsd:attribute name="completionStatus" type="uddi:completionStatus" use="required"/>
	</xsd:complexType>
	<xsd:element name="authInfo">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="bindingKey" type="uddi:bindingKey"/>
	<xsd:element name="bindingTemplate" type="uddi:bindingTemplate"/>
	<xsd:complexType name="bindingTemplate">
		<xsd:sequence>
			<xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:accessPoint" minOccurs="0" />
			<xsd:element ref="uddi:hostingRedirector" minOccurs="0" />
			<xsd:element ref="uddi:tModelInstanceDetails" minOccurs="0"/>
			<xsd:element ref="uddi:categoryBag" minOccurs="0"/>
			<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="bindingKey" type="uddi:bindingKey" use="optional"/>
		<xsd:attribute name="serviceKey" type="uddi:serviceKey" use="optional"/>
	</xsd:complexType>
	<xsd:element name="bindingTemplates" type="uddi:bindingTemplates"/>
	<xsd:complexType name="bindingTemplates">
		<xsd:sequence>
			<xsd:element ref="uddi:bindingTemplate" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="businessEntity" type="uddi:businessEntity"/>
	<xsd:complexType name="businessEntity">
		<xsd:sequence>
			<xsd:element ref="uddi:discoveryURLs" minOccurs="0"/>
			<xsd:element ref="uddi:name" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:contacts" minOccurs="0"/>
			<xsd:element ref="uddi:businessServices" minOccurs="0"/>
			<xsd:element ref="uddi:identifierBag" minOccurs="0"/>
			<xsd:element ref="uddi:categoryBag" minOccurs="0"/>
			<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="businessKey" type="uddi:businessKey" use="optional"/>
	</xsd:complexType>
	<xsd:element name="businessInfo" type="uddi:businessInfo"/>
	<xsd:complexType name="businessInfo">
		<xsd:sequence>
			<xsd:element ref="uddi:name" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:serviceInfos" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="businessKey" type="uddi:businessKey" use="required"/>
	</xsd:complexType>
	<xsd:element name="businessInfos" type="uddi:businessInfos"/>
	<xsd:complexType name="businessInfos">
		<xsd:sequence>
			<xsd:element ref="uddi:businessInfo" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="businessKey" type="uddi:businessKey"/>
	<xsd:element name="businessService" type="uddi:businessService"/>
	<xsd:complexType name="businessService">
		<xsd:sequence>
			<xsd:element ref="uddi:name" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:bindingTemplates" minOccurs="0"/>
			<xsd:element ref="uddi:categoryBag" minOccurs="0"/>
			<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="serviceKey" type="uddi:serviceKey" use="optional"/>
		<xsd:attribute name="businessKey" type="uddi:businessKey" use="optional"/>
	</xsd:complexType>
	<xsd:element name="businessServices" type="uddi:businessServices"/>
	<xsd:complexType name="businessServices">
		<xsd:sequence>
			<xsd:element ref="uddi:businessService" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="categoryBag" type="uddi:categoryBag"/>
	<xsd:complexType name="categoryBag">
		<xsd:sequence>
			<xsd:element ref="uddi:keyedReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:keyedReferenceGroup" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="completionStatus" type="uddi:completionStatus"/>
	<xsd:element name="contact" type="uddi:contact"/>
	<xsd:complexType name="contact">
		<xsd:sequence>
			<xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:personName" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:phone" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:email" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:address" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="useType" type="uddi:useType" use="optional" default=""/>
	</xsd:complexType>
	<xsd:element name="contacts" type="uddi:contacts"/>
	<xsd:complexType name="contacts">
		<xsd:sequence>
			<xsd:element ref="uddi:contact" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="description" type="uddi:description"/>
	<xsd:complexType name="description">
		<xsd:simpleContent>
			<xsd:extension base="uddi:validationTypeString255">
				<xsd:attribute ref="xml:lang"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="discoveryURL" type="uddi:discoveryURL"/>
	<xsd:complexType name="discoveryURL">
		<xsd:simpleContent>
			<xsd:extension base="uddi:validationTypeAnyURI4096">
				<xsd:attribute name="useType" type="uddi:useType" use="optional" default=""/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="discoveryURLs" type="uddi:discoveryURLs"/>
	<xsd:complexType name="discoveryURLs">
		<xsd:sequence>
			<xsd:element ref="uddi:discoveryURL" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="dispositionReport" type="uddi:dispositionReport"/>
	<xsd:complexType name="dispositionReport">
		<xsd:sequence>
			<xsd:element ref="uddi:result" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="truncated" type="uddi:truncated" use="optional"/>
	</xsd:complexType>
	<xsd:element name="email" type="uddi:email"/>
	<xsd:complexType name="email">
		<xsd:simpleContent>
			<xsd:extension base="uddi:validationTypeString255">
				<xsd:attribute name="useType" type="uddi:useType" use="optional" default=""/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="errInfo" type="uddi:errInfo"/>
	<xsd:complexType name="errInfo">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="errCode" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="findQualifier" type="uddi:findQualifier"/>
	<xsd:element name="findQualifiers" type="uddi:findQualifiers"/>
	<xsd:complexType name="findQualifiers">
		<xsd:sequence>
			<xsd:element ref="uddi:findQualifier" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="fromKey" type="uddi:businessKey"/>
	<xsd:element name="hostingRedirector" type="uddi:hostingRedirector"/>
	<xsd:complexType name="hostingRedirector">
		<xsd:attribute name="bindingKey" type="uddi:bindingKey" use="required"/>
	</xsd:complexType>
	<xsd:element name="identifierBag" type="uddi:identifierBag"/>
	<xsd:complexType name="identifierBag">
		<xsd:sequence>
			<xsd:element ref="uddi:keyedReference" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="includeCount" type="xsd:int"/>
	<xsd:element name="infoSelection" type="uddi:infoSelection"/>
	<xsd:simpleType name="infoSelection">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="all"/>
			<xsd:enumeration value="hidden"/>
			<xsd:enumeration value="visible"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="instanceDetails" type="uddi:instanceDetails"/>
	<xsd:complexType name="instanceDetails">
		<xsd:sequence>
			<xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:sequence>
				<xsd:element ref="uddi:overviewDoc" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="uddi:instanceParms" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="instanceParms" type="uddi:instanceParms"/>
	<xsd:element name="keyedReference" type="uddi:keyedReference"/>
	<xsd:complexType name="keyedReference">
		<xsd:attribute name="tModelKey" type="uddi:tModelKey" use="required"/>
		<xsd:attribute name="keyName" type="uddi:keyName" use="optional" default=""/>
		<xsd:attribute name="keyValue" type="uddi:keyValue" use="required"/>
	</xsd:complexType>
	<xsd:element name="keyedReferenceGroup" type="uddi:keyedReferenceGroup"/>
	<xsd:complexType name="keyedReferenceGroup">
		<xsd:sequence>
			<xsd:element ref="uddi:keyedReference" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="tModelKey" type="uddi:tModelKey" use="required"/>
	</xsd:complexType>
	<xsd:element name="keysOwned" type="uddi:keysOwned"/>
	<xsd:complexType name="keysOwned">
		<xsd:sequence>
			<xsd:element ref="uddi:fromKey" minOccurs="0"/>
			<xsd:element ref="uddi:toKey" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="listDescription" type="uddi:listDescription"/>
	<xsd:complexType name="listDescription">
		<xsd:sequence>
			<xsd:element ref="uddi:includeCount"/>
			<xsd:element ref="uddi:actualCount"/>
			<xsd:element ref="uddi:listHead"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="listHead" type="xsd:int"/>
	<xsd:element name="name" type="uddi:name"/>
	<xsd:complexType name="name">
		<xsd:simpleContent>
			<xsd:extension base="uddi:validationTypeString255">
				<xsd:attribute ref="xml:lang" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="operationalInfo" type="uddi:operationalInfo"/>
	<xsd:complexType name="operationalInfo">
		<xsd:sequence>
			<xsd:element name="created" type="uddi:timeInstant" minOccurs="0"/>
			<xsd:element name="modified" type="uddi:timeInstant" minOccurs="0"/>
			<xsd:element name="modifiedIncludingChildren" type="uddi:timeInstant" minOccurs="0"/>
			<xsd:element ref="uddi:nodeID" minOccurs="0"/>
			<xsd:element ref="uddi:authorizedName" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="entityKey" type="uddi:uddiKey" use="required"/>
	</xsd:complexType>
	<xsd:element name="overviewDoc" type="uddi:overviewDoc"/>
	<xsd:complexType name="overviewDoc">
		<xsd:sequence>
			<xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:overviewURL" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="overviewURL" type="uddi:overviewURL"/>
	<xsd:complexType name="overviewURL">
		<xsd:simpleContent>
			<xsd:extension base="uddi:validationTypeAnyURI4096">
				<xsd:attribute name="useType" type="uddi:useType" use="optional" default=""/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="personName" type="uddi:personName"/>
	<xsd:complexType name="personName">
		<xsd:simpleContent>
			<xsd:extension base="uddi:validationTypeString255">
				<xsd:attribute ref="xml:lang" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="phone" type="uddi:phone"/>
	<xsd:complexType name="phone">
		<xsd:simpleContent>
			<xsd:extension base="uddi:validationTypeString50">
				<xsd:attribute name="useType" type="uddi:useType" use="optional" default=""/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="publisherAssertion" type="uddi:publisherAssertion"/>
	<xsd:complexType name="publisherAssertion">
		<xsd:sequence>
			<xsd:element ref="uddi:fromKey"/>
			<xsd:element ref="uddi:toKey"/>
			<xsd:element ref="uddi:keyedReference"/>
			<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="relatedBusinessInfo" type="uddi:relatedBusinessInfo"/>
	<xsd:complexType name="relatedBusinessInfo">
		<xsd:sequence>
			<xsd:element ref="uddi:businessKey"/>
			<xsd:element ref="uddi:name" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:sharedRelationships" maxOccurs="2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="relatedBusinessInfos" type="uddi:relatedBusinessInfos"/>
	<xsd:complexType name="relatedBusinessInfos">
		<xsd:sequence>
			<xsd:element ref="uddi:relatedBusinessInfo" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="result" type="uddi:result"/>
	<xsd:complexType name="result">
		<xsd:sequence>
			<xsd:element ref="uddi:errInfo" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="keyType" type="uddi:keyType" use="optional"/>
		<xsd:attribute name="errno" type="xsd:int" use="required"/>
	</xsd:complexType>
	<xsd:element name="serviceInfo" type="uddi:serviceInfo"/>
	<xsd:complexType name="serviceInfo">
		<xsd:sequence>
			<xsd:element ref="uddi:name" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="serviceKey" type="uddi:serviceKey" use="required"/>
		<xsd:attribute name="businessKey" type="uddi:businessKey" use="required"/>
	</xsd:complexType>
	<xsd:element name="serviceInfos" type="uddi:serviceInfos"/>
	<xsd:complexType name="serviceInfos">
		<xsd:sequence>
			<xsd:element ref="uddi:serviceInfo" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="serviceKey" type="uddi:serviceKey"/>
	<xsd:element name="sharedRelationships" type="uddi:sharedRelationships"/>
	<xsd:complexType name="sharedRelationships">
		<xsd:sequence>
			<xsd:element ref="uddi:keyedReference" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:publisherAssertion" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="direction" type="uddi:direction" use="required"/>
	</xsd:complexType>
	<xsd:element name="tModel" type="uddi:tModel"/>
	<xsd:complexType name="tModel">
		<xsd:sequence>
			<xsd:element ref="uddi:name"/>
			<xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:overviewDoc" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:identifierBag" minOccurs="0"/>
			<xsd:element ref="uddi:categoryBag" minOccurs="0"/>
			<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="tModelKey" type="uddi:tModelKey" use="optional"/>
		<xsd:attribute name="deleted" type="uddi:deleted" use="optional" default="false"/>
	</xsd:complexType>
	<xsd:element name="tModelBag" type="uddi:tModelBag"/>
	<xsd:complexType name="tModelBag">
		<xsd:sequence>
			<xsd:element ref="uddi:tModelKey" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="tModelInfo" type="uddi:tModelInfo"/>
	<xsd:complexType name="tModelInfo">
		<xsd:sequence>
			<xsd:element ref="uddi:name"/>
			<xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="tModelKey" type="uddi:tModelKey" use="required"/>
	</xsd:complexType>
	<xsd:element name="tModelInfos" type="uddi:tModelInfos"/>
	<xsd:complexType name="tModelInfos">
		<xsd:sequence>
			<xsd:element ref="uddi:tModelInfo" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="tModelInstanceDetails" type="uddi:tModelInstanceDetails"/>
	<xsd:complexType name="tModelInstanceDetails">
		<xsd:sequence>
			<xsd:element ref="uddi:tModelInstanceInfo" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="tModelInstanceInfo" type="uddi:tModelInstanceInfo"/>
	<xsd:complexType name="tModelInstanceInfo">
		<xsd:sequence>
			<xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:instanceDetails" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="tModelKey" type="uddi:tModelKey" use="required"/>
	</xsd:complexType>
	<xsd:element name="tModelKey" type="uddi:tModelKey"/>
	<xsd:element name="toKey" type="uddi:businessKey"/>
	<!-- Type and element definitions for input messages -->
	<xsd:element name="add_publisherAssertions" type="uddi:add_publisherAssertions"/>
	<xsd:complexType name="add_publisherAssertions">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:publisherAssertion" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="delete_binding" type="uddi:delete_binding"/>
	<xsd:complexType name="delete_binding">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:bindingKey" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="delete_business" type="uddi:delete_business"/>
	<xsd:complexType name="delete_business">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:businessKey" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="delete_publisherAssertions" type="uddi:delete_publisherAssertions"/>
	<xsd:complexType name="delete_publisherAssertions">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:publisherAssertion" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="delete_service" type="uddi:delete_service"/>
	<xsd:complexType name="delete_service">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:serviceKey" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="delete_tModel" type="uddi:delete_tModel"/>
	<xsd:complexType name="delete_tModel">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:tModelKey" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="discard_authToken" type="uddi:discard_authToken"/>
	<xsd:complexType name="discard_authToken">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="find_binding" type="uddi:find_binding"/>
	<xsd:complexType name="find_binding">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:findQualifiers" minOccurs="0"/>
			<xsd:element ref="uddi:tModelBag" minOccurs="0"/>
			<xsd:element ref="uddi:find_tModel" minOccurs="0"/>
			<xsd:element ref="uddi:categoryBag" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="maxRows" type="xsd:int" use="optional"/>
		<xsd:attribute name="serviceKey" type="uddi:serviceKey" use="optional"/>
		<xsd:attribute name="listHead" type="xsd:int" use="optional"/>
	</xsd:complexType>
	<xsd:element name="find_business" type="uddi:find_business"/>
	<xsd:complexType name="find_business">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:findQualifiers" minOccurs="0"/>
			<xsd:element ref="uddi:name" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:identifierBag" minOccurs="0"/>
			<xsd:element ref="uddi:categoryBag" minOccurs="0"/>
			<xsd:element ref="uddi:tModelBag" minOccurs="0"/>
			<xsd:element ref="uddi:find_tModel" minOccurs="0"/>
			<xsd:element ref="uddi:discoveryURLs" minOccurs="0"/>
			<xsd:element ref="uddi:find_relatedBusinesses" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="maxRows" type="xsd:int" use="optional"/>
		<xsd:attribute name="listHead" type="xsd:int" use="optional"/>
	</xsd:complexType>
	<xsd:element name="find_relatedBusinesses" type="uddi:find_relatedBusinesses"/>
	<xsd:complexType name="find_relatedBusinesses">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:findQualifiers" minOccurs="0"/>
			<xsd:element ref="uddi:businessKey" minOccurs="0"/>
			<xsd:element ref="uddi:fromKey" minOccurs="0"/>
			<xsd:element ref="uddi:toKey" minOccurs="0"/>
			<xsd:element ref="uddi:keyedReference" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="maxRows" type="xsd:int" use="optional"/>
		<xsd:attribute name="listHead" type="xsd:int" use="optional"/>
	</xsd:complexType>
	<xsd:element name="find_service" type="uddi:find_service"/>
	<xsd:complexType name="find_service">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:findQualifiers" minOccurs="0"/>
			<xsd:element ref="uddi:name" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="uddi:categoryBag" minOccurs="0"/>
			<xsd:element ref="uddi:tModelBag" minOccurs="0"/>
			<xsd:element ref="uddi:find_tModel" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="maxRows" type="xsd:int" use="optional"/>
		<xsd:attribute name="businessKey" type="uddi:businessKey" use="optional"/>
		<xsd:attribute name="listHead" type="xsd:int" use="optional"/>
	</xsd:complexType>
	<xsd:element name="find_tModel" type="uddi:find_tModel"/>
	<xsd:complexType name="find_tModel">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:findQualifiers" minOccurs="0"/>
			<xsd:element ref="uddi:name" minOccurs="0"/>
			<xsd:element ref="uddi:identifierBag" minOccurs="0"/>
			<xsd:element ref="uddi:categoryBag" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="maxRows" type="xsd:int" use="optional"/>
		<xsd:attribute name="listHead" type="xsd:int" use="optional"/>
	</xsd:complexType>
	<xsd:element name="get_assertionStatusReport" type="uddi:get_assertionStatusReport"/>
	<xsd:complexType name="get_assertionStatusReport">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:completionStatus" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="get_authToken" type="uddi:get_authToken"/>
	<xsd:complexType name="get_authToken">
		<xsd:attribute name="userID" type="xsd:string" use="required"/>
		<xsd:attribute name="cred" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:element name="get_bindingDetail" type="uddi:get_bindingDetail"/>
	<xsd:complexType name="get_bindingDetail">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:bindingKey" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="get_businessDetail" type="uddi:get_businessDetail"/>
	<xsd:complexType name="get_businessDetail">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:businessKey" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="get_operationalInfo" type="uddi:get_operationalInfo"/>
	<xsd:complexType name="get_operationalInfo">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element name="entityKey" type="uddi:uddiKey" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="get_publisherAssertions" type="uddi:get_publisherAssertions"/>
	<xsd:complexType name="get_publisherAssertions">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="get_registeredInfo" type="uddi:get_registeredInfo"/>
	<xsd:complexType name="get_registeredInfo">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="infoSelection" type="uddi:infoSelection" use="required"/>
	</xsd:complexType>
	<xsd:element name="get_serviceDetail" type="uddi:get_serviceDetail"/>
	<xsd:complexType name="get_serviceDetail">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:serviceKey" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="get_tModelDetail" type="uddi:get_tModelDetail"/>
	<xsd:complexType name="get_tModelDetail">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:tModelKey" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="save_binding" type="uddi:save_binding"/>
	<xsd:complexType name="save_binding">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:bindingTemplate" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="save_business" type="uddi:save_business"/>
	<xsd:complexType name="save_business">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:businessEntity" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="save_service" type="uddi:save_service"/>
	<xsd:complexType name="save_service">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:businessService" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="save_tModel" type="uddi:save_tModel"/>
	<xsd:complexType name="save_tModel">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:tModel" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="set_publisherAssertions" type="uddi:set_publisherAssertions"/>
	<xsd:complexType name="set_publisherAssertions">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo" minOccurs="0"/>
			<xsd:element ref="uddi:publisherAssertion" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Type and element definitions for response messages -->
	<xsd:element name="assertionStatusReport" type="uddi:assertionStatusReport"/>
	<xsd:complexType name="assertionStatusReport">
		<xsd:sequence>
			<xsd:element ref="uddi:assertionStatusItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="authToken" type="uddi:authToken"/>
	<xsd:complexType name="authToken">
		<xsd:sequence>
			<xsd:element ref="uddi:authInfo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="bindingDetail" type="uddi:bindingDetail"/>
	<xsd:complexType name="bindingDetail">
		<xsd:sequence>
			<xsd:element ref="uddi:listDescription" minOccurs="0"/>
			<xsd:element ref="uddi:bindingTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="truncated" type="uddi:truncated" use="optional"/>
	</xsd:complexType>
	<xsd:element name="businessDetail" type="uddi:businessDetail"/>
	<xsd:complexType name="businessDetail">
		<xsd:sequence>
			<xsd:element ref="uddi:businessEntity" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="truncated" type="uddi:truncated" use="optional"/>
	</xsd:complexType>
	<xsd:element name="businessList" type="uddi:businessList"/>
	<xsd:complexType name="businessList">
		<xsd:sequence>
			<xsd:element ref="uddi:listDescription" minOccurs="0"/>
			<xsd:element ref="uddi:businessInfos" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="truncated" type="uddi:truncated" use="optional"/>
	</xsd:complexType>
	<xsd:element name="operationalInfos" type="uddi:operationalInfos"/>
	<xsd:complexType name="operationalInfos">
		<xsd:sequence>
			<xsd:element ref="uddi:operationalInfo" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="truncated" type="uddi:truncated" use="optional"/>
	</xsd:complexType>
	<xsd:element name="publisherAssertions" type="uddi:publisherAssertions"/>
	<xsd:complexType name="publisherAssertions">
		<xsd:sequence>
			<xsd:element ref="uddi:publisherAssertion" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="registeredInfo" type="uddi:registeredInfo"/>
	<xsd:complexType name="registeredInfo">
		<xsd:sequence>
			<xsd:element ref="uddi:businessInfos" minOccurs="0"/>
			<xsd:element ref="uddi:tModelInfos" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="truncated" type="uddi:truncated" use="optional"/>
	</xsd:complexType>
	<xsd:element name="relatedBusinessesList" type="uddi:relatedBusinessesList"/>
	<xsd:complexType name="relatedBusinessesList">
		<xsd:sequence>
			<xsd:element ref="uddi:listDescription" minOccurs="0"/>
			<xsd:element ref="uddi:businessKey"/>
			<xsd:element ref="uddi:relatedBusinessInfos" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="truncated" type="uddi:truncated" use="optional"/>
	</xsd:complexType>
	<xsd:element name="serviceDetail" type="uddi:serviceDetail"/>
	<xsd:complexType name="serviceDetail">
		<xsd:sequence>
			<xsd:element ref="uddi:businessService" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="truncated" type="uddi:truncated" use="optional"/>
	</xsd:complexType>
	<xsd:element name="serviceList" type="uddi:serviceList"/>
	<xsd:complexType name="serviceList">
		<xsd:sequence>
			<xsd:element ref="uddi:listDescription" minOccurs="0"/>
			<xsd:element ref="uddi:serviceInfos" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="truncated" type="uddi:truncated" use="optional"/>
	</xsd:complexType>
	<xsd:element name="tModelDetail" type="uddi:tModelDetail"/>
	<xsd:complexType name="tModelDetail">
		<xsd:sequence>
			<xsd:element ref="uddi:tModel" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="truncated" type="uddi:truncated" use="optional"/>
	</xsd:complexType>
	<xsd:element name="tModelList" type="uddi:tModelList"/>
	<xsd:complexType name="tModelList">
		<xsd:sequence>
			<xsd:element ref="uddi:listDescription" minOccurs="0"/>
			<xsd:element ref="uddi:tModelInfos" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="truncated" type="uddi:truncated" use="optional"/>
	</xsd:complexType>
	<!--Validation simpleTypes -->
	<xsd:simpleType name="validationTypeAnyURI4096">
		<xsd:restriction base="xsd:anyURI">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4096"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="validationTypeString50">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
                        <xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="validationTypeString80">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="80"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="validationTypeString255">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="validationTypeString4096">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4096"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="validationTypeString8192">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="8192"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
