modules/wsdl/src/test/resources/com/l7tech/wsdl/warehouse_mix.wsdl

<wsdl:definitions targetNamespace="http://warehouse.acme.com/ws" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://warehouse.acme.com/ws" xmlns:tnsr="http://warehouse.acme.com/wsreq" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:import namespace="http://warehouse.acme.com/ws" schemaLocation="schema/warehouse_schema_res.xsd"></s:import>

<s:schema elementFormDefault="qualified" targetNamespace="http://warehouse.acme.com/wsreq" xmlns:tns="http://warehouse.acme.com/wsreq" xmlns:s="http://www.w3.org/2001/XMLSchema">
            <s:element name="listProducts">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="1" name="delay" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>

    </wsdl:types>
    <wsdl:message name="listProductsSoapIn">
        <wsdl:part element="tnsr:listProducts" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listProductsSoapOut">
        <wsdl:part element="tns:listProductsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getProductDetailsSoapIn">
        <wsdl:part element="tns:getProductDetails" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getProductDetailsSoapOut">
        <wsdl:part element="tns:getProductDetailsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="placeOrderSoapIn">
        <wsdl:part element="tns:placeOrder" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="placeOrderSoapOut">
        <wsdl:part element="tns:placeOrderResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="currentOrdersSoapIn">
        <wsdl:part element="tns:currentOrders" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="currentOrdersSoapOut">
        <wsdl:part element="tns:currentOrdersResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="WarehouseSoap">
        <wsdl:operation name="listProducts">
            <wsdl:input message="tns:listProductsSoapIn"/>
            <wsdl:output message="tns:listProductsSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="getProductDetails">
            <wsdl:input message="tns:getProductDetailsSoapIn"/>
            <wsdl:output message="tns:getProductDetailsSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="placeOrder">
            <wsdl:input message="tns:placeOrderSoapIn"/>
            <wsdl:output message="tns:placeOrderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="currentOrders">
            <wsdl:input message="tns:currentOrdersSoapIn"/>
            <wsdl:output message="tns:currentOrdersSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WarehouseSoap" type="tns:WarehouseSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="listProducts">
            <soap:operation soapAction="http://warehouse.acme.com/ws/listProducts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProductDetails">
            <soap:operation soapAction="http://warehouse.acme.com/ws/getProductDetails" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="placeOrder">
            <soap:operation soapAction="http://warehouse.acme.com/ws/placeOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="currentOrders">
            <soap:operation soapAction="http://warehouse.acme.com/ws/currentOrders" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WarehouseSoap12" type="tns:WarehouseSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="listProducts">
            <soap12:operation soapAction="http://warehouse.acme.com/ws/listProducts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProductDetails">
            <soap12:operation soapAction="http://warehouse.acme.com/ws/getProductDetails" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="placeOrder">
            <soap12:operation soapAction="http://warehouse.acme.com/ws/placeOrder" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="currentOrders">
            <soap12:operation soapAction="http://warehouse.acme.com/ws/currentOrders" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Warehouse">
        <wsdl:port binding="tns:WarehouseSoap" name="WarehouseSoap">
            <soap:address location="http://192.168.1.145/ACMEWarehouseWS/Service1.asmx"/>
        </wsdl:port>
        <wsdl:port binding="tns:WarehouseSoap12" name="WarehouseSoap12">
            <soap12:address location="http://192.168.1.145/ACMEWarehouseWS/Service1.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
